section.section.section--device-banner.device-banner
  .container.container--1350
    .row-m-0
      .col-12
        .row
          .col-md-6
            .image-displayer
              .js-display-swiper.swiper-container
                .swiper-wrapper
                  .swiper-slide
                    img(src="./assets/images/supported-device/product_sup.svg", alt="device")
                  .swiper-slide 
                    img(src="./assets/images/supported-device/product_sup.svg", alt="device")
                  .swiper-slide 
                    img(src="./assets/images/supported-device/product_sup.svg", alt="device")
                .swiper-pagination
              ul.image-display-pagination 
                li.img-container.slide-active
                    img(src="./assets/images/supported-device/product_sup.svg", alt="thumbnail")
                li.img-container
                    img(src="./assets/images/supported-device/product_sup.svg", alt="thumbnail")
                li.img-container
                    img(src="./assets/images/supported-device/product_sup.svg", alt="thumbnail")



          .col-md-6.pl-sm-12
            .device-banner__detail
              h1.device-banner__title Smart Lock
              p.device-banner__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              a.ls-btn.ls-btn--black.mt-3.mt-md-4(href="#") Buy Now
