/* =============================================
		body Fonts
============================================= */

main {
  opacity   : 0;
  margin    : 70px 0 0 0;
  // display: none;
  transition: opacity 0.4s ease;

  @include bp("tab") {
    margin: 110px 0 0 0;
  }
}

main.news {
  opacity   : 0;
  margin    : 70px 0 0 0;
  // display: none;
  transition: opacity 0.4s ease;

  @include bp("tab") {
    margin: 110px 0 0 0;
  }
}

body {
  font-family            : $fnt-mst; // -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering         : optimizeLegibility;
  font-size              : 14px;
  overflow-x             : hidden;
  overflow-y             : hidden;
  background-color       : $white;
  // opacity             : 0;

  &.is-loaded {
    overflow-x: hidden;
    overflow-y: auto;
    opacity   : 1 !important;

    main {
      opacity   : 1 !important;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }

  @include bp("tab") {
    font-size: 16px;
  }
}

ul,
ol {
  list-style-type: none;
}

.container {
  &--1350 {
    @include bp("desktop-1200") {
      max-width: 1170px;
    }

    @include bp("desktop-lg") {
      max-width: 1300px;
    }

    @include bp("hd") {
      max-width: 1350px;
    }
  }
}

.op-0 {
  opacity: 0 !important;
}

.boxshadow-none {
  box-shadow: none !important;
}

.border-none {
  border       : none !important;
  border-radius: 0 !important;
}

.no-pseudo {

  &::after,
  &::before {
    display: none !important;
  }
}

.op-1 {
  opacity: 1 !important;
}

.swiper-slide {
  transition: transform 1s ease;
}

.fnt-300 {
  font-weight: 300 !important;
}

.fnt-500 {
  font-weight: 500 !important;
}

.fnt-700 {
  font-weight: 700 !important;
}

.fnt-800 {
  font-weight: 800 !important;
}

.fnt-inherit {
  font-size: inherit !important;
}

.text-normal {
  text-transform: initial !important;
}

.lh-initial {
  line-height: initial !important;
}

.text-normal {
  text-transform: initial !important;
}

.black-gradient {
  position        : absolute;
  content         : "";
  top             : 0;
  left            : 0;
  right           : 0;
  bottom          : 0;
  width           : 100%;
  height          : 100%;
  background-color: #000000;
  opacity         : 0.5;
  z-index         : 1;

  @media (min-width: 370px) {
    opacity: 0;
  }
}

video {
  &::-webkit-media-controls {
    display: none !important;
  }

  &::-webkit-media-controls-overlay-play-button {
    display: none;
  }

  &.has-media-controls-hidden::-webkit-media-controls {
    display: none;
  }
}

.mw-600 {
  max-width: 600px;
}

.mb-100 {
  margin: 0 0 40px 0 !important;

  @include bp("tab") {
    margin: 0 0 60px 0 !important;
  }

  @include bp("desktop") {
    margin: 0 0 80px 0 !important;
  }

  @include bp("desktop-lg") {
    margin: 0 0 100px 0 !important;
  }
}

.absolute-center-content {
  position : absolute;
  left     : 0;
  top      : 50%;
  transform: translateY(-50%);

  @include bp('tab') {
    left: 40px;
  }
}

.absolute-centerTop-content {
  position : absolute;
  left     : 50% !important;
  top      : 20%;
  transform: translateY(-20%);
  transform: translateX(-50%);

  @include bp('tab') {
    left: 40px;
  }
}

.absolute-top-content {
  position : absolute;
  right    : 0;
  left     : 20px;
  top      : 20%;
  transform: translateY(-20%);

  @include bp('tab') {
    right: 70px;
    left : auto;
  }
}

.absolute-center-xy-content {
  position : absolute;
  top      : 50%;
  left     : 50%;
  transform: translate(-50%, -50%);
}

.bg-gray {
  background-color: #f2f3f4;
}

.bg-gray-f0 {
  background-color: #f0f0f0;
}

.bg-gray-ea {
  background-color: #eaeced;
}

.bg-white-shade {
  background-color: #f9f9f9;
}

.media-icon {
  @media (max-width: 767px) {
    width: 32px;
  }
}

.play-button {
  width: 48px;

  @include bp('desktop') {
    width: 98px;
  }
}