.about {
  &__title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;

    @include bp("tab") {
      font-size: 40px;
    }

    @include bp("desktop") {
      font-size: 50px;
    }
  }

  &__tagline {
    font-size: 18px;
    line-height: 35px;
    font-weight: 300;
    // text-align: center;
    margin-top: 30px;
    font-style: italic;
    position: relative;

    @include bp("tab") {
      font-size: 28px;
      line-height: 45px;
    }

    @include bp("desktop") {
      font-size: 38px;
      line-height: 58px;
      margin-top: 60px;
    }

    &::before,
    &::after {
      width: 16px;
      height: 16px;
      top: -15px;

      @include bp("tab") {
        width: 26px;
        height: 23px;
      }

      @include bp("desktop") {
        top: 0px;
      }
    }

    &::before {
      content: "";
      position: absolute;
      background: url("../assets/images/about/right-quote.svg") no-repeat;
      right: -10px;

      @include bp("desktop") {
        right: -40px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      background: url("../assets/images/about/left-quote.svg") no-repeat;
      left: -10px;

      @include bp("desktop") {
        left: -30px;
      }
    }
  }

  &__descriptions {
    max-width: 840px;

    @media (min-width:320px) {
      max-width: 420px;
    }

    @media (min-width:375px) {
      max-width: 425px;
    }

    @media (min-width:425px) {
      max-width: 480px;
    }

    @media (min-width:768px) {
      max-width: 580px;
    }

    @media (min-width:1024px) {
      max-width: 840px;
    }
  }

  &__headings {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;

    @include bp("tab") {
      font-size: 30px;
    }

    @include bp("desktop") {
      font-size: 30px;
      line-height: 58px;
    }
  }

  &__desc {

    font-size: 15px;
    color: rgba(0, 0, 0, 0.8);
    line-height: 24px;

    @include bp("tab") {
      font-size: 16px;
      line-height: 28px;
    }

    @include bp("desktop") {
      font-size: 18px;
      line-height: 34px;
    }
  }

  &__value-title {
    font-size: 18px;
    line-height: 28px;

    @include bp("tab") {
      font-size: 24px;
    }

    @include bp("desktop") {
      font-size: 24px;
      line-height: 58px;
    }
  }

  &__board-name {
    font-size: 16px;
    font-weight: 600;

    @include bp("tab") {
      font-size: 20px;
    }

    @include bp("desktop") {
      font-size: 24px;
    }
  }

  &__overview-title {
    font-size: 14px;
    font-weight: 600;

    @include bp("tab") {
      font-size: 18px;
    }

    @include bp("desktop") {
      font-size: 22px;
    }
  }

  &__overview-desc {
    font-size: 14px;
    opacity: 0.9;
    color: #232323;

    @include bp("tab") {
      font-size: 18px;
    }

    span {
      font-weight: 600;
    }
  }

}