.device-banner {
  &__title {
    font-size: 24px;
    font-weight: 700;

    @include bp("tab") {
      font-size: 30px;
    }

    @include bp("desktop") {
      font-size: 45px;
    }
  }

  &__desc {
    font-size: 14px;
    line-height: 1.5;

    @include bp("tab") {
      font-size: 16px;
    }
  }

  &__detail {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-end;
    height: 100%;
    justify-content: center;
  }
}

.device-desc {
  &__title {
    font-size: 20px;
    max-width: 400px;
    font-weight: 600;
    margin-bottom: 20px;

    @include bp("tab") {
      font-size: 22px;
      text-align: right;
      max-width: 280px;
      margin-bottom: 0px;
    }

    @include bp("desktop") {
      font-size: 30px;
      max-width: 400px;
    }
  }

  &__block {
    padding: 20px 0;

    @include bp("tab") {
      padding: 30px 0;
    }

    @include bp("desktop") {
      padding: 40px 0;
    }
  }

  &__list {
    padding-left: 6px;

    li {
      list-style: disc;
      margin-bottom: 20px;
      font-size: 15px;
      line-height: 28px;


      @include bp("tab") {
        font-size: 14px;
      }

      @include bp("desktop") {
        font-size: 16px;
      }
    }
  }
}

.image-displayer {
  height: 245px;
  margin: 10px 0 80px;
  position: relative;

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  .image-display-pagination {
    display: none;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .swiper-pagination {
    display: flex;
    width: fit-content;
    margin: 30px auto 0; 

    span {
      height: 8px;
      width: 8px;
      background-color: #e3e3e3;
      border-radius: 50%;
      margin-right: 9px;

      &:last-child {
        margin-right: 0;
      }
    }

    .swiper-pagination-bullet-active {
      background-color: #01bbff;
    }
    
  }
    
  @include bp("desktop") {
    margin: 0;
    height: 410px;
    padding-left: 100px;

    .image-display-pagination {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      justify-content: flex-end;
      width: 50px;
      position: absolute;
      bottom: 50%;
      left: 20px;
      transform: translateY(50%);

      li {
        height: 65px;
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        cursor: pointer;
        
      }

      .slide-active {
        border-radius: 4px;
        border: 2px solid #01bbff;
        padding: 15px 10px;
      }
    }

    .swiper-container {
      pointer-events: none;
    }
  }
}

.pl-sm-12 {
  @media(max-width: 767px) {
    padding-left: 12px;
  }
}