.news {
  &__title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;

    @include bp("tab") {
      font-size: 40px;
    }

    @include bp("desktop") {
      font-size: 40px;
    }
  }

  &__heading {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;

    @include bp("tab") {
      font-size: 24px;
    }

    @include bp("desktop") {
      font-size: 26px;
      line-height: 40px;
    }
  }

  &__desc {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1px;

    @include bp("tab") {
      font-size: 16px;
      line-height: 26px;
    }

    @include bp("desktop") {
      font-size: 18px;
      line-height: 28px;
    }
  }

  &__date {
    color: rgba(0, 0, 0, 0.3);
    font-weight: 600;
    font-size: 12px;

    @include bp("tab") {
      font-size: 14px;
    }
  }

  .media {
    flex-direction: column;
    padding: 20px 0;
    border-bottom: 1px solid #ededed !important;

    @include bp("tab") {
      flex-direction: row;
      padding: 30px 0;
    }

    @include bp("tab") {
      flex-direction: row;
      padding: 50px 0;
    }

    img {
      width: 100%;

      @include bp("tab") {
        width: auto;
      }
    }

    &:last-child {
      margin-bottom: 30px;
      border-bottom: 0px !important;
    }
  }
}