.press {
  &__title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;

    @include bp("tab") {
      font-size: 40px;
    }

    @include bp("desktop") {
      font-size: 40px;
    }
  }

  &__card-img {
    position: relative;
  }

  &__card-title {
    font-size: 14px;
    font-weight: 700;

    @include bp("tab") {
      font-size: 16px;
    }

    @include bp("desktop") {
      font-size: 18px;
    }
  }

  &__card-desc {
    font-size: 14px;

    @include bp("tab") {
      font-size: 14px;
    }
  }

  &__card-detail {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 8px;
    background: rgba(255, 255, 255, 0.78);

    @include bp("tab") {
      padding: 20px;
    }
  }

  &__card-block {
    margin: 60px 0;

    @include bp("tab") {
      margin: 80px 0;
    }

    @include bp("desktop") {
      margin: 100px 0;
    }
  }

}