$spec-box-bg: #f8f8f8;

.outside-wrrapper {
  @include bp("tab") {
    padding: 3rem;
  }

  @include bp("desktop") {
    padding: 6rem;
  }
}

.spec-box {
  background-color: $spec-box-bg;
  margin-top: 1rem;
  padding: 1.5rem 0.4rem 0.3rem 1rem;

  @include bp("desktop") {
    padding: 2rem;
    margin: 2rem;
  }
}

.spec-item {
  // margin-bottom: 1rem;
  margin-bottom: 16px !important;
  padding-bottom: 6px !important;

  @include bp("desktop") {}
}

.spec-title {
  font-size: 16px;

  @include bp("desktop") {
    font-size: 32px;
  }
}

.spec-name {
  font-size: 14px;
  font-weight: 600;

  @include bp("desktop") {
    font-size: 22px;
  }
}

.spec-desc {
  font-size: 14px;
  font-weight: 400;

  @include bp("desktop") {
    font-size: 20px;
  }
}

.section--mini {
  .banner-desc {
    margin-top: 72px;
  }

  .mini-buy-btn {
    width: 50%;

    @include bp("desktop") {
      width: auto !important;
    }
  }
}

.section-work {
  .media-icon {
    width: auto;
    height: 38px;
  }
}

.section-inside {
  .inside-icon {
    height: 45px;
  }
}

.mini-next {
  .mini-next-img {
    margin-top: -70px;
    width: 100%;
  }

  &__title {
    font-size: 18px;
    font-weight: 700;

    @include bp("desktop") {
      font-size: 40px;
    }
  }

  &__price {
    font-size: 12px;
    font-weight: 500;

    @include bp("desktop") {
      font-size: 22px;
    }
  }

  &__btn {
    font-size: 12px;
    font-weight: 600;

    @include bp("desktop") {
      font-size: 14px;
    }
  }

  .mini-desc {
    flex-direction: column;

    @include bp("tab") {
      flex-direction: row;
    }
  }
}

.placement-desc {
  font-size: 18px;
  padding: 50px;

  @include bp("tab") {
    font-size: 24px;
    padding: 60px 90px;
  }

  @include bp("desktop") {
    font-size: 30px;
  }

}