.section--support {
  .support-device-title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;

    @include bp("tab") {
      font-size: 40px;
    }

    @include bp("desktop") {
      font-size: 40px;
    }
  }
}


.ir-device {
  &__title {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 700;

    @include bp("tab") {
      font-size: 24px;
    }

    @include bp("desktop") {
      font-size: 30px;
    }
  }

  &__desc {
    font-size: 16px;
    margin-bottom: 30px;

    @include bp("tab") {
      font-size: 20px;
    }

    @include bp("desktop") {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }

  span {
    font-weight: 700;
  }

  a.link {
    color: #01bbff;
    font-size: 16px;

    @include bp("tab") {
      font-size: 20px;
    }

    @include bp("desktop") {
      font-size: 20px;
    }
  }

  &__cards {
    height: 376px;
    overflow: hidden;
    transition: all ease 0.5s;

    @media(min-width: 410px) {
      height: 482px;
    }

    @include bp("tab") {
      height: 452px;
    }

    @include bp("tab") {
      height: 378px;
    }


    &.show {
      height: auto;
      overflow: unset;
      transition: all ease 0.5s;
    }
  }


  &__name {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: black;

    @include bp("tab") {
      font-size: 16px;
    }
  }
}

.wifi-device {
  &__title {
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 700;

    @include bp("tab") {
      font-size: 24px;
    }

    @include bp("desktop") {
      font-size: 30px;
      margin-bottom: 20px;
    }

  }

  &__name {
    font-size: 12px;
    font-weight: 500;
    text-align: center;

    @include bp("tab") {
      font-size: 16px;
    }
  }
}

.device-card {
  border: none;
  background-color: #f7f7f7;
  max-width: 140px;
  padding: 12px 16px;
  position: relative;
  cursor: pointer;
  margin: 0 auto;
  transition: all ease 0.3s;

  &:hover {
    box-shadow: 1px 3px 11px 0px #bcbbbb;
    transition: all ease 0.3s;
  }

  @media (min-width:360px) {
    max-width: 150px;
  }

  @media (min-width:375px) {
    max-width: 166px;
  }

  @media (min-width:410px) {
    max-width: 170px;
  }

  @media (min-width:425px) {
    max-width: 178px;
  }

  @include bp("tab") {
    padding: 40px 38px;
    max-width: 284px;
  }

  .device-card-overlay {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: rgba(0, 187, 255, 0.93);
    width: 100%;
    height: 0%;
    z-index: 2;
    bottom: 0;
    left: 0;
    padding: 20px;
    transition: all ease 0.5s;

    @include bp("tab") {
      padding: 24px;
    }

    &__desc {
      font-size: 16px;
      font-weight: 600;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-50px);
      transition: all ease 0.8s;

      @include bp("tab") {
        font-size: 16px;
      }

      @include bp("desktop") {
        font-size: 18px;
      }
    }

    .ls-btn {
      transform: translateY(-80px);
      transition: all ease 0.6s;
      opacity: 0;
      visibility: hidden;
    }
  }

  &.active {
    .device-card-overlay {
      visibility: visible;
      opacity: 1;
      height: 100%;
      transition: all ease 0.5s;

      &__desc {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
        transition: all ease 0.8s;
      }

      .ls-btn {
        transform: translateY(0px);
        transition: all ease 0.6s;
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.device-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 130px;

  @media(min-width:410px) {
    height: 180px;
  }

  @include bp("tab") {
    height: 226px;
  }
}