section.section.section--rental
    .container.container--1350.p-0
        .row.m-0.position-relative
            .col-12.text-center.p-0
                img.mini-product-img#business-img(
                    data-img320="./assets/images/business/business-banner-mobile.png"
                    data-img767="./assets/images/business/business-banner-mobile.png"
                    data-img1200="./assets/images/business/business-banner.png"
                    data-img1440="./assets/images/business/business-banner.png"
                    src="./assets/images/business/business-banner-mobile.png" alt="Business")
            .col-12.absolute-center-content.banner-desc
                h1.section-heading.section-heading--70.white LS-Rental