section.section.section--home.offer-block
    .container.container--1350
        .row          
          .col-12.p-0
            .add-speaker.add-speaker--offer.mt-5.mt-md-0(data-aos="fade")
                .row
                  .offset-md-1.col-md-10
                    .row
                      .col-5.col-sm-5.col-lg-5.d-flex.align-items-center
                          h2.add-speaker__heading.add-speaker__heading--offer
                              | 50% OFF
                      .col-7.col-sm-5.col-lg-7.d-flex.align-items-center
                          .d-block
                              p.add-speaker__desc.mb-2 When you enroll into 3 year plan.
                              a(href="javascript:void(0);").link
                                  span explore
                                  img(src="./assets/images/arrow.svg" alt=">")