section.section.section--rental
  .container.container--1350.p-md-0
    .row.p-0
      .col-md-7
        h3.section-heading.section-heading--property.mt-0.text-center.text-md-left
          | Increase
          strong.ml-3.d-md-inline Property Value
      .col-md-5.property-btns
        .d-flex.align-items-center.h-100.flex-column.flex-md-row
          a.ls-btn.ls-btn--black.mr-md-4.mb-3.mb-md-0(href="#") Service Package
          a.ls-btn.ls-btn--white-border(href="#") Know More

    .add-speaker.add-speaker--offer.mt-5.mt-md-0(data-aos="fade")
        .row
          .offset-md-1.col-md-10
            .row
              .col-5.col-sm-5.col-lg-5.d-flex.align-items-center
                  h2.add-speaker__heading.add-speaker__heading--offer
                      | 50% OFF
              .col-7.col-sm-5.col-lg-7.d-flex.align-items-center
                  .d-block
                      p.add-speaker__desc.mb-2 When you enroll into 3 year plan.
                      a(href="javascript:void(0);").link
                          span explore
                          img(src="./assets/images/arrow.svg" alt=">")
