section.section.section--story
    .container.container--1350.p-md-0
        .story-wrapper
            .row.business-story.story#business-story2
                .col-sm-5.text-sm-right
                    .story__content
                        h3.section-heading.section-heading--story
                            strong.m-0 Customer support
                            span.d-block simplified
                .col-sm-7.p-md-0
                    .story__img-w.position-relative
                        .story__chat-w
                            ul.story-chats.story-chats--ls
                                li.story-chats__chat.system
                                    .story-info
                                        .story-info__title-w
                                            p.story-info__title 24 x 7 AI Chatbot
                                            span.story-info__line
                                            img.story-info__img-b.d-none.d-md-block(src="./assets/images/business/line-app-large.png" alt="line")

                                        .story-info__desc-w
                                            p.story-info__desc Answer Questions on facilities, maintenance and contract

                        .black-gradient
                        img.story__img(
                            src="./assets/images/business/story-2.png"
                            alt="Story 2")
