section.section.section--story
    .container.container--1350.p-md-0
        .story-wrapper
            .row.business-story.story#business-story7
                .col-sm-5.text-sm-right
                    .story__content
                        h3.section-heading.section-heading--story
                            strong.m-0 Easy setup 
                            span.d-block by resident or installer
                        .d-none.d-md-flex.flex-column.btn-block
                            a(href="javascript:void(0);").ls-btn.ls-btn--story.d-inline-flex.align-items-center.mb-4
                                img.line-icon.mr-2(src="./assets/icons/play.svg" alt="line")
                                | Hub Setup in 90s
                            a(href="javascript:void(0);").ls-btn.ls-btn--story.d-inline-flex.align-items-center.mb-4.mb-md-0
                                img.line-icon.mr-2(src="./assets/icons/play.svg" alt="line")
                                | Install everything in 30 min 
                .col-sm-7.p-md-0
                    .story__img-w.position-relative
                        .story__chat-w
                            ul.story-chats.story-chats--ls
                                li.story-chats__chat.system
                                    .story-info
                                        .story-info__title-w
                                            p.story-info__title No renovation needed
                                            span.story-info__line
                                            //- img.story-info__img-b.d-none.d-md-block(src="./assets/images/business/line-app.png" alt="line")

                                        .story-info__desc-w
                                            p.story-info__desc Except Lock & Energy Meter
                                li.story-chats__chat.system
                                    .story-info
                                        .story-info__title-w
                                            p.story-info__title Access Anywhere
                                            span.story-info__line
                                        .story-info__desc-w
                                            p.story-info__desc Can add personal TV, 3rd party devices on your own

                        .black-gradient
                        img.story__img(
                            src="./assets/images/business/story-7.png"
                            alt="Story 7")
                    .d-md-none.d-flex.flex-column.btn-block.mt-4
                        a(href="javascript:void(0);").ls-btn.ls-btn--story.d-inline-flex.align-items-center.mb-4
                            img.line-icon.mr-2(src="./assets/icons/play.svg" alt="line")
                            | Hub Setup in 90s
                        a(href="javascript:void(0);").ls-btn.ls-btn--story.d-inline-flex.align-items-center.mb-4.mb-md-0
                            img.line-icon.mr-2(src="./assets/icons/play.svg" alt="line")
                            | Install everything in 30 min 
