section.section.section--story
    .container.container--1350.p-md-0
        .story-wrapper
            .row.business-story.story#business-story8
                .col-sm-5.text-sm-right
                    .story__content
                        h3.section-heading.section-heading--story
                            strong.m-0 New sources 
                            span.d-block of revenue
                        a(href="javascript:void(0);").ls-btn.ls-btn--story.d-none.d-md-inline-flex.align-items-center.mb-4.mb-md-0
                            //- img.line-icon.mr-2(src="./assets/icons/play.svg" alt="line")
                            | Monetize your catalog
                .col-sm-7.p-md-0
                    .story__img-w.position-relative
                        .story__chat-w
                            ul.story-chats.story-chats--ls
                                li.story-chats__chat.system
                                    .story-info
                                        .story-info__title-w
                                            p.story-info__title Fees to you on services
                                            span.story-info__line
                                            //- img.story-info__img-b.d-none.d-md-block(src="./assets/images/business/line-app.png" alt="line")

                                        .story-info__desc-w
                                            p.story-info__desc Residents choose, schedule and pay for domestic help, dry-cleaning etc. You are paid a commission by LS or the service provider.
                                        a.link.mt-2(href="#") Learn More

                        .black-gradient
                        img.story__img(
                            src="./assets/images/business/story-8.png"
                            alt="Story 8")
                    a(href="javascript:void(0);").ls-btn.ls-btn--story.d-md-none.d-inline-flex.align-items-center.mt-4
                        //- img.line-icon.mr-2(src="./assets/icons/play.svg" alt="line")
                        | Monetize your catalog
