section.section.section--story
    .container.container--1350.p-md-0
        .story-wrapper
            .row.business-story.story#business-story5
                .col-sm-5.text-sm-right
                    .story__content
                        h3.section-heading.section-heading--story
                            strong.m-0 Self-access
                            span.d-block of apartment
                        .d-none.d-md-flex.flex-column.btn-block
                            a(href="javascript:void(0);").ls-btn.ls-btn--story.d-inline-flex.align-items-center.mb-4
                                img.line-icon.mr-2(src="./assets/icons/play.svg" alt="line")
                                | Creating a Guest Passcode
                            a(href="javascript:void(0);").ls-btn.ls-btn--story.d-inline-flex.align-items-center.mb-4.mb-md-0
                                img.line-icon.mr-2(src="./assets/icons/play.svg" alt="line")
                                | Guest Entering with Passcode
                .col-sm-7.p-md-0
                    .story__img-w.position-relative
                        .story__chat-w
                            ul.story-chats.story-chats--ls
                                li.story-chats__chat.system
                                    .story-info
                                        .story-info__title-w
                                            p.story-info__title Give access remotely
                                            span.story-info__line
                                            //- img.story-info__img-b.d-none.d-md-block(src="./assets/images/business/line-app.png" alt="line")

                                        .story-info__desc-w
                                            p.story-info__desc Create a Passcode with time limit. Guest can acces from LINE Bot.
                                //- li.story-chats__chat.system
                                //-     .story-info
                                //-         .story-info__title-w
                                //-             p.story-info__title Resident Manager
                                //-             span.story-info__line
                                //-         .story-info__desc-w
                                //-             p.story-info__desc Move in/out automated Installer setup made easy

                        .black-gradient
                        img.story__img(
                            src="./assets/images/business/story-5.png"
                            alt="Story 8")
                    .d-md-none.d-flex.flex-column.btn-block.mt-4
                        a(href="javascript:void(0);").ls-btn.ls-btn--story.d-inline-flex.align-items-center.mb-4
                            img.line-icon.mr-2(src="./assets/icons/play.svg" alt="line")
                            | Creating a Guest Passcode
                        a(href="javascript:void(0);").ls-btn.ls-btn--story.d-inline-flex.align-items-center.mb-4.mb-md-0
                            img.line-icon.mr-2(src="./assets/icons/play.svg" alt="line")
                            | Guest Entering with Passcode 
