section.section.section--story
    .container.container--1350.p-md-0
        .story-wrapper
            .row.business-story.story#business-story6
                .col-sm-5.text-sm-right
                    .story__content
                        h3.section-heading.section-heading--story
                            strong.m-0 Know your
                            span.d-block with residents
                        a(href="javascript:void(0);").ls-btn.ls-btn--story.d-none.d-md-inline-flex.align-items-center.mb-4.mb-md-0
                            img.line-icon.mr-2(src="./assets/icons/play.svg" alt="line")
                            | Smart Insights overview
                .col-sm-7.p-md-0
                    .story__img-w.position-relative
                        .story__chat-w
                            ul.story-chats.story-chats--ls
                                li.story-chats__chat.system
                                    .story-info
                                        .story-info__title-w
                                            p.story-info__title User behavior
                                            span.story-info__line
                                            //- img.story-info__img-b.d-none.d-md-block(src="./assets/images/business/line-app.png" alt="line")

                                        .story-info__desc-w
                                            p.story-info__desc Purchase pattern, resident feedback, wishlist

                        .black-gradient
                        img.story__img(
                            src="./assets/images/business/story-6.png"
                            alt="Story 6")
                    a(href="javascript:void(0);").ls-btn.ls-btn--story.d-md-none.d-inline-flex.align-items-center.mt-4
                        img.line-icon.mr-2(src="./assets/icons/play.svg" alt="line")
                        | Smart Insights overview
