section.section.section--story
    .container.container--1350.p-md-0
        .story-wrapper
            .row.business-story.story#business-story3
                .col-sm-5.text-sm-right
                    .story__content.d-none.d-md-block
                        h3.section-heading.section-heading--story
                            strong.m-0 Customer support
                            span.d-block simplified
                        a(href="javascript:void(0);").ls-btn.ls-btn--story.d-none.d-md-inline-flex.align-items-center.mb-4.mb-md-0
                            img.line-icon.mr-2(src="./assets/icons/play.svg" alt="line")
                            | See demo video
                .col-sm-7.p-md-0
                    .story__img-w.position-relative
                        .story__chat-w
                            ul.story-chats.story-chats--ls
                                li.story-chats__chat.system
                                    .story-info
                                        .story-info__title-w
                                            p.story-info__title Connect to live agent
                                            span.story-info__line
                                            //- img.story-info__img-b.d-none.d-md-block(src="./assets/images/business/line-app-large.png" alt="line")

                                        .story-info__desc-w
                                            p.story-info__desc Problem summary passed on to live chat or agent only when required.

                        .black-gradient
                        img.story__img(
                            src="./assets/images/business/story-3.png"
                            alt="Story 3")

                    a(href="javascript:void(0);").ls-btn.ls-btn--story.d-inline-flex.d-md-none.align-items-center.mt-4
                        img.line-icon.mr-2(src="./assets/icons/play.svg" alt="line")
                        | See demo video
