section.section.section--story1
    .container.container--1350.p-md-0
        .story-wrapper
            .row.business-story.story#business-story1
                .col-sm-5.text-sm-right
                    .story__content
                        h3.section-heading.section-heading--story
                            strong.m-0 Happy residents
                            span.d-block is everything
                        .d-none.d-md-flex.flex-column.btn-block
                            a(href="javascript:void(0);").ls-btn.ls-btn--story.d-inline-flex.align-items-center.mb-4
                                img.line-icon.mr-2(src="./assets/icons/play.svg" alt="line")
                                | LS App Overview
                            a(href="javascript:void(0);").ls-btn.ls-btn--story.d-inline-flex.align-items-center.mb-4.mb-md-0
                                img.line-icon.mr-2(src="./assets/icons/play.svg" alt="line")
                                | Using LS Bot
                .col-sm-7.p-md-0
                    .story__img-w.position-relative
                        .story__chat-w
                            ul.story-chats.story-chats--ls
                                li.story-chats__chat.system
                                    .story-info
                                        .story-info__title-w
                                            p.story-info__title Smart Home
                                            span.story-info__line
                                            //- img.story-info__img-b.d-none.d-md-block(src="./assets/images/business/line-app-large.png" alt="line")

                                        .story-info__desc-w
                                            p.story-info__desc Resident . Family .  Guest
                                li.story-chats__chat.system
                                    .story-info
                                        .story-info__title-w
                                            p.story-info__title Access Anywhere
                                            span.story-info__line
                                        .story-info__desc-w
                                            div.story-info__list
                                                div.story-info__item
                                                    img.story-info__img-s(src="./assets/images/business/phone.svg" alt="phone")
                                                    p.story-info__desc App
                                                div.story-info__item
                                                    img.story-info__img-s(src="./assets/images/business/line-app.svg" alt="line")
                                                    p.story-info__desc Line
                                                div.story-info__item
                                                    img.story-info__img-s(src="./assets/images/business/mic.svg" alt="mic")
                                                    p.story-info__desc Voice

                        .black-gradient
                        img.story__img(
                            src="./assets/images/business/story-1.png"
                            alt="Story 1")
                    .d-md-none.d-flex.flex-column.btn-block.mt-4
                        a(href="javascript:void(0);").ls-btn.ls-btn--story.d-inline-flex.align-items-center.mb-4
                            img.line-icon.mr-2(src="./assets/icons/play.svg" alt="line")
                            | LS App Overview
                        a(href="javascript:void(0);").ls-btn.ls-btn--story.d-inline-flex.align-items-center.mb-4.mb-md-0
                            img.line-icon.mr-2(src="./assets/icons/play.svg" alt="line")
                            | Using LS Bot 
