section.section.section--story.support-device
  .container
    .row.m-0
      .col-12.p-0
        h1.support-device__title Support thousands of Devices
        .support-device__block
          .device.device-1.floating.device-set-1
            img(src="./assets/images/business/device-1.png" alt="support device")
          .device.device-2.floating.device-set-2
            img(src="./assets/images/business/device-2.png" alt="support device")
          .device.device-3.floating.device-set-2
            img(src="./assets/images/business/device-3.png" alt="support device")
          .device.device-4.floating.device-set-3
            img(src="./assets/images/business/device-4.png" alt="support device")
          .device.device-5.floating.device-set-1
            img(src="./assets/images/business/device-5.png" alt="support device")
          .device.device-6.floating.device-set-3
            img(src="./assets/images/business/device-6.png" alt="support device")
          .device.device-7.floating.device-set-3
            img(src="./assets/images/business/device-7.png" alt="support device")
          .device.device-8.floating.device-set-2
            img(src="./assets/images/business/device-8.png" alt="support device")
          .device.device-9.floating.device-set-1
            img(src="./assets/images/business/device-9.png" alt="support device")
          .device.device-10.floating.device-set-1
            img(src="./assets/images/business/device-10.png" alt="support device")
          .device.device-11.floating.device-set-3
            img(src="./assets/images/business/device-11.png" alt="support device")
          .device.device-12.floating.device-set-2
            img(src="./assets/images/business/device-12.png" alt="support device")
          .device.device-13.floating.device-set-3
            img(src="./assets/images/business/device-13.png" alt="support device")
          .device.device-14.floating.device-set-3
            img(src="./assets/images/business/device-14.png" alt="support device")

    .d-flex.justify-content-center.mt-5.learn-btn
      a.ls-btn.ls-btn--story(href="javascript:void(0);") Learn More
