.busienss-story {
  .black-gradient {
    z-index: 1 !important;
  }

  &.story {
    &__chat-w {
      top: 17%;

      @include bp("tab") {
        top: 20%;
      }
    }

    &__content {
      margin: 0;

      @include bp("tab") {
        margin: 0 20px 20px 0;
      }

      @include bp("desktop") {
        margin: 0 55px 20px 0;
      }

      strong {
        margin: 0 !important;
      }
    }

  }

  .story-chats {
    &__chat {
      margin: 0 0 60px 0;

      @include bp ("desktop") {
        margin: 0 0 50px 0;
      }
    }
  }

  .ls-btn {
    max-width: 290px;
  }
}

#business-story7,
#business-story5 {
  .btn-block {
    max-width: 300px;

    @include bp("tab") {
      max-width: 320px;
      margin-left: auto;
    }
  }
}

#business-story1 {
  .btn-block {
    max-width: 220px;

    @include bp("tab") {
      max-width: 320px;
      margin-left: auto;
    }
  }
}

.offer-block {
  margin-top: -80px;

  @include bp("tab") {
    margin-top: -180px;
  }

  @include bp("desktop") {
    margin-top: -200px;
  }
}

.fab-navigator {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 98;

  &__img {
    img {
      width: 60px;
      height: 60px;
      transform: scale(0);
      transition: all ease 0.5s;
    }

    &.active {
      img {

        transform: scale(1);
        transition: all ease 0.5s;
      }
    }
  }

  &__desc {
    background: #efefef;
    padding: 10px;
    position: relative;
    margin-right: 15px;
    color: #000;
    border-radius: 6px;
    transform: translateX(20px);
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.5s;

    &.active {
      transform: translateX(0px);
      opacity: 1;
      visibility: visible;
      transition: all ease 0.5s;
    }

    .title {
      font-size: 14px;
      font-weight: 500;
      // color: $w;

      @include bp("tab") {
        font-size: 14px;
      }
    }

    .desc {
      font-size: 12px;
      // color: $w;

      @include bp("tab") {
        font-size: 12px;
      }
    }

    &::before {
      position: absolute;
      content: '';
      right: -8px;
      top: 50%;
      width: 0;
      height: 0;
      transform: translate(0, -50%);
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 10px solid #efefef;
    }
  }
}