.support-device {
  &__title {
    font-size: 22px;
    line-height: 40px;
    font-weight: 700;
    text-align: left;
    max-width: 510px;
    margin: 0 auto;

    @include bp("tab") {
      font-size: 36px;
      line-height: 50px;
      text-align: center;
    }

    @include bp("desktop") {
      font-size: 50px;
      line-height: 60px;
    }
  }

  .ls-btn--story {
    font-size: 14px;
    font-weight: 600;

    @include bp("tab") {
      font-size: 16px;
    }

    @include bp("desktop") {
      font-size: 18px;
    }

    &:hover {
      font-size: 14px;
      font-weight: 600;

      @include bp("tab") {
        font-size: 16px;
      }

      @include bp("desktop") {
        font-size: 18px;
      }
    }
  }

  &__block {
    position: relative;
    height: 300px;
    // border: 1px solid black;
    margin-top: 30px;

    @include bp("tab") {
      margin-top: 40px;
      height: 560px;
    }

    .device {
      position: absolute;
      background-color: #f7f7f7;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      // transform: scale(0);s
    }

    .device-1 {
      width: 86px;
      height: 86px;
      top: 5%;
      left: 3%;
      display: none;

      @include bp("tab") {
        display: flex;
      }
    }

    .device-2 {
      width: 50px;
      height: 50px;
      top: 13%;
      left: 0%;

      @include bp("tab") {
        width: 76px;
        height: 76px;
        top: 23%;
        left: 12%;
      }

      @include bp("desktop") {
        left: 15%;
      }

      img {
        width: 40%;

        @include bp("tab") {
          width: auto;
        }
      }
    }

    .device-3 {
      width: 210px;
      height: 210px;
      left: 0;
      bottom: 10%;
      display: none;

      @include bp("tab") {
        display: flex;
      }

      img {
        width: 40%;

        @include bp("tab") {
          width: auto;
        }
      }
    }

    .device-4 {
      width: 78px;
      height: 78px;
      top: 0;
      left: 23%;


      @include bp("tab") {
        width: 120px;
        height: 120px;
        top: 0;
        left: 30%;
      }

      img {
        width: 40%;

        @include bp("tab") {
          width: auto;

        }
      }
    }

    .device-5 {
      width: 95px;
      height: 95px;
      top: 32%;
      left: 15%;

      @include bp("tab") {
        width: 148px;
        height: 148px;
        top: 30%;
        left: 26%;
      }

      @include bp("desktop") {
        top: 36%;
      }

      img {
        width: 40%;

        @include bp("tab") {
          width: auto;
        }
      }
    }

    .device-6 {
      width: 78px;
      height: 78px;
      left: 22%;
      bottom: 5%;

      @include bp("tab") {
        width: 120px;
        height: 120px;
        left: 30%;
        bottom: 0;
      }

      @include bp("desktop") {
        left: 30%;
        bottom: 5%;
      }

      img {
        width: 40%;

        @include bp("tab") {
          width: auto;
        }
      }
    }

    .device-7 {
      width: 43px;
      height: 43px;
      top: 0%;
      right: 20%;

      @include bp("tab") {
        width: 65px;
        height: 65px;
        top: 6%;
        right: 30%;
      }

      @include bp("desktop") {
        right: 40%;
      }

      img {
        width: 20%;

        @include bp("tab") {
          width: auto;
        }
      }
    }

    .device-8 {
      width: 78px;
      height: 78px;
      top: 20%;
      right: 30%;

      @include bp("tab") {
        width: 124px;
        height: 124px;
        top: 40%;
        right: 30%;
      }

      @include bp("desktop") {
        top: 33%;
        right: 41%;
      }

      img {
        width: 40%;

        @include bp("tab") {
          width: auto;
        }
      }
    }

    .device-9 {
      width: 60px;
      height: 60px;
      bottom: 25%;
      right: 35%;

      @include bp("tab") {
        width: 90px;
        height: 90px;
        bottom: 20%;
        right: 42%
      }

      @include bp("desktop") {
        bottom: 10%;
        right: 42%;
      }

      img {
        width: 40%;

        @include bp("tab") {
          width: auto;
        }
      }
    }

    .device-10 {
      width: 65px;
      height: 65px;
      top: 30%;
      right: 5%;

      @include bp("tab") {
        width: 100px;
        height: 100px;
        top: 20%;
        right: 24%;
      }

      img {
        width: 40%;

        @include bp("tab") {
          width: auto;
        }
      }
    }

    .device-11 {
      width: 38px;
      height: 38px;
      bottom: 20%;
      left: 3%;
      // display: none;

      @include bp("tab") {
        // display: flex;
        width: 56px;
        height: 56px;
        bottom: 28%;
        right: 24%;
        left: auto;
      }

      @include bp("desktop") {
        bottom: 34%;
        right: 28%;
      }

      img {
        width: 27%;

        @include bp("tab") {
          width: auto;
        }
      }
    }

    .device-12 {
      width: 88px;
      height: 88px;
      bottom: 5%;
      right: 1%;

      @include bp("tab") {
        width: 140px;
        height: 140px;
        bottom: 0;
        right: 18%;
      }

      img {
        width: 30%;

        @include bp("tab") {
          width: auto;
        }
      }
    }

    .device-13 {
      width: 123px;
      height: 123px;
      top: 3%;
      right: 10%;
      display: none;

      @include bp("tab") {
        display: flex;
        right: 0;
      }

      @include bp("desktop") {
        right: 10%;
      }

      img {
        width: 40%;

        @include bp("tab") {
          width: auto;
        }
      }
    }

    .device-14 {
      width: 150px;
      height: 150px;
      bottom: 33%;
      right: 0;
      display: none;

      @include bp("tab") {
        display: flex;
      }

      img {
        width: 40%;

        @include bp("tab") {
          width: auto;
        }
      }
    }
  }
}

// .floating {
//   animation-name: floating;
//   animation-duration: 4s;
//   animation-iteration-count: infinite;
//   animation-timing-function: ease-in-out;
// }

// @keyframes floating {
//   from {
//     transform: translate(0, 0px);
//   }

//   65% {
//     transform: translate(0, 4px);
//   }

//   to {
//     transform: translate(0, -0px);
//   }
// }