.business--new {
  .banner-desc {
    .title {
      font-size: 26px;
      color: #000;
      font-weight: 700;

      @include bp("tab") {
        font-size: 34px;
      }

      @include bp("desktop") {
        font-size: 50px;
      }
    }

    .desc {
      font-size: 20px;
      color: #4b4949;
      font-weight: 600;
      margin-top: 20px;

      @include bp("tab") {
        font-size: 28px;
      }

      @include bp("desktop") {
        font-size: 40px;
      }

      span {
        color: #000;
      }
    }

    .banner-device {
      display: flex;
      justify-content: center;
      margin-top: 30px;

      img {
        max-height: 100px;

        @include bp("tab") {
          max-height: none;
        }
      }
    }
  }

  .banner-btn-block {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 20%;
    width: 100%;

    @include bp("tab") {
      flex-direction: row;
      justify-content: end;
      left: 20px;
      margin-top: 0;
      bottom: 30%;
    }

    @include bp("desktop") {
      flex-direction: row;
      justify-content: center;
      left: auto;
      margin-top: 0;
      bottom: 30%;
    }
  }

  //campaign section
  .campaign {
    background-color: #000000;
    text-align: center;
    padding: 80px 0;

    @include bp("tab") {
      padding: 112px 0;
    }

    .title {
      color: $w;
      font-weight: 300;
      font-size: 24px;

      @include bp("tab") {
        font-size: 34px;
      }

    }
  }

  .section-campaign {
    transform: translateY(-140px);
    z-index: 2;

    @include bp("tab") {
      transform: translateY(-120px);
    }

    @include bp("desktop") {
      transform: translateY(-180px);
    }
  }
}