.section-cheap {
  background-color: #303030;

  .title {
    font-size: 32px;
    font-weight: 700;
    color: $w;
    margin-top: 20px;

    @include bp("tab") {
      font-size: 40px;
      margin-top: 0;
    }

    @include bp("desktop") {
      font-size: 60px;
    }
  }

  .desc {
    font-size: 18px;
    color: #fff;
    letter-spacing: 1.6px;

    @include bp("tab") {
      font-size: 24px;
    }

    @include bp("desktop") {
      font-size: 30px;
    }
  }
}