.features {
  background-color: #f0f0f0;

  .story-line {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background-color: #01bbff;
  }

  &__desc {
    margin-left: 30px;
    position: absolute;
    top: 30px;

    @include bp("tab") {
      position: relative;
      top: 0;
      margin-left: 0;
      margin-top: 30px;
    }

    @include bp("desktop") {
      margin-left: 30px;
      margin-top: 0;
    }
  }

  &__card {
    @include bp("tab") {
      flex-direction: column;
    }

    @include bp("desktop") {
      flex-direction: row;
    }

    &::before {
      content: "";
      position: absolute;
      background-color: #000;
      opacity: 0.4;
      width: 91%;
      height: 100%;

      @include bp("tab") {
        background-color: transparent;
      }
    }
  }

  .title {
    font-size: 20px;
    font-weight: 600;
    color: $w;
    position: relative;

    @include bp("tab") {
      color: #000;
      font-size: 24px;
    }
  }

  .desc {
    color: $w;
    margin-top: 20px;
    font-size: 16px;
    letter-spacing: 1.12px;
    max-width: 250px;

    @include bp("tab") {
      color: #afafaf;
      font-size: 18px;
    }

  }

  .feature-img {
    width: 100%;

    @include bp("tab") {
      max-width: 200px;
      height: 100%;
    }
  }
}

.business-story {
  .story__content {
    .icon {
      max-height: 69px;
    }
  }
}

.information-card {
  background-color: #303030;
  padding: 20px;
  margin: 50px 0;

  @include bp("tab") {
    padding: 40px 30px;
    margin: 80px 0;
  }

  .inform-img {
    width: 100%;
    margin-top: 20px;

    @include bp("tab") {
      // width: auto;
      margin-top: 0;
    }
  }

  .inform-title {
    color: $w;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 700;

    @include bp("tab") {
      font-size: 38px;
    }

    @include bp("desktop") {
      font-size: 38px;
    }
  }

  .inform-desc {
    color: $w;
    font-size: 14px;

    @include bp("tab") {
      font-size: 18px;
    }

    @include bp("desktop") {
      font-size: 22px;
    }
  }

  .inform-link {
    text-decoration: underline;
    font-size: 16px;

    @include bp("tab") {
      font-size: 18px;
    }

    @include bp("desktop") {
      font-size: 20px;
    }

    &--white {
      color: white;
    }
  }
}