.section-merit {
  margin-top: -90px;

  .title {
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    color: #000;

    @include bp("tab") {
      font-size: 40px;
    }

    @include bp("desktop") {
      font-size: 60px;
    }

    span {
      color: #afafaf;
    }
  }

  &__features {
    margin-top: 40px;

    img {
      max-height: 40px;

      @include bp("tab") {
        max-height: 69px;
      }
    }

    .desc {
      font-size: 16px;
      color: #afafaf;
      margin-top: 20px;

      @include bp("tab") {
        font-size: 20px;
      }
    }
  }
}

.section--merit-cards {
  .card {
    background-color: #f0f0f0;
    padding: 15px;
    border: 0;
    margin-top: 20px;

    @include bp("tab") {
      margin-top: 40px;
    }
  }

  .card-title {
    color: #000;
    font-weight: 600;
    font-size: 22px;
    text-align: center;

    @include bp("tab") {
      font-size: 28px;
    }

    @include bp("desktop") {
      font-size: 40px;
    }
  }

  .card-desc {
    font-size: 16px;
    color: #afafaf;

    @include bp("tab") {
      font-size: 20px;
    }

    @include bp("desktop") {
      font-size: 22px;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}