.story-icon {
  max-height: 40px;
  max-width: 40px;
}

.business-story {
  .tag-desc {
    color: #000;
    font-size: 18px;
  }

  .story-title {
    font-size: 32px;
    color: #000;
    font-weight: 700;
    margin-top: 30px;

    @include bp("tab") {
      margin-top: 50px;
      font-size: 38px;
    }

    @include bp("desktop") {
      font-size: 60px;
    }
  }

  .story-feature {
    color: #afafaf;
    font-size: 18px;
    font-weight: 600;

    @include bp("tab") {
      font-size: 24px;
    }

    @include bp("tab") {
      font-size: 28px;
    }
  }

  .story-desc {
    color: #606060;
    font-size: 16px;
    margin-top: 20px;

    @include bp("tab") {
      margin-top: 30px;
      font-size: 18px;
    }

    @include bp("desktop") {
      margin-top: 40px;
      font-size: 20px;
    }
  }
}

.business-overlay3,
.business-overlay4 {
  height: 200px !important;
  bottom: 33% !important;
}

.business-overlay2 {
  left: 85px !important;
  right: auto !important;

  @include bp("tab") {
    left: 150px !important;
  }
}