footer.ls-footer.ls-footer--black
    .container
        .row.ls-footer-row
            .col-md-5.align-items-center.d-flex
                .logo-container
                    img.rsu-header-logo(src="./assets/images/logo.svg" alt="LS")
            .col-md-7
                .row
                    .col-lg-9
                        .row
                            ul.col-4.ls-footer-link
                                li
                                    a(href="javascript:void(0)") Consumer
                                li
                                    a(href="javascript:void(0)") Business
                                li
                                    a(href="javascript:void(0)") Product & Services
                            ul.col-4.ls-footer-link
                                li
                                    a(href="javascript:void(0)") About Us
                                li
                                    a(href="javascript:void(0)") Work at LS
                                li
                                    a(href="javascript:void(0)") Support
                            ul.col-4.ls-footer-link
                                li
                                    a(href="javascript:void(0)") Press Kit
                                li
                                    a(href="javascript:void(0)") News
                                li
                                    a(href="javascript:void(0)") Privacy Policy

                    .col-lg-3.d-flex
                        ul.social-container.ml-auto.mr-sm-0
                            li
                                a(href="javascript:void(0)")
                                    img(src="./assets/images/twitter-white.svg", alt="twitter")
                            li
                                a(href="javascript:void(0)")
                                    img(src="./assets/images/instagram-white.svg", alt="insta")
                            li
                                a(href="javascript:void(0)")
                                    img(src="./assets/images/facebook-white.svg", alt="fb")

