header.ls-header.ls-header--fluid
    .container-fluid.p-md-0
        .row
            .col-12
                ul.d-flex.align-items-center.justify-content-between
                    li
                        a(href="index.html")
                            img.ls-header-logo(src="./assets/images/logo.svg" alt="R.S.U")

                    li.z-99
                        .d-flex.align-items-center
                            nav
                                ul.ls-mainnav.align-items-center.d-sm-flex
                                    li.js-dropdown-menu.menu-item
                                        a(href="javascript:void(0)").ls-nav-link
                                            | Products
                                            span.menu-arrow.ml-1
                                                img(src="./assets/icons/down-arrow.svg", alt="down")
                                        .menu-list
                                            ul
                                                li
                                                    a(href="product.html") LS Mini Next
                                                li
                                                    a(href="#") LS Hub
                                                li
                                                    a(href="#") LS Mini
                                    li
                                        a(href="supported-devices.html").ls-nav-link
                                            | Connects
                                    li
                                        a(href="business-new.html").ls-nav-link
                                            | Business
                                    li
                                        a(href="javascript:void(0)").ls-nav-link
                                            | Support
                                    //- li
                                    //-     .dropdown
                                    //-         a(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false').ls-nav-link#dropdownMenu.dropdown-toggle
                                    //-             | EN
                                    //-             span.menu-arrow.ml-1
                                    //-                 img(src="./assets/icons/down-arrow.svg", alt="down")
                                    //-         .dropdown-menu(aria-labelledby='dropdownMenu')
                                    //-             a.ls-nav-link(href='javascript:void(0);') English
                                    //-             a.ls-nav-link(href='javascript:void(0);') 日本人
                                    li.js-dropdown-menu.menu-item
                                        a(href="javascript:void(0)").ls-nav-link
                                            | EN
                                            span.menu-arrow.ml-1
                                                img(src="./assets/icons/down-arrow.svg", alt="down")
                                        .menu-list
                                            ul
                                                li
                                                    a(href="#") English
                                                li
                                                    a(href="#") 日本人


                            button(type="button").ls-navtoggler.js-navtoggler.d-sm-none
                                span
                                span
                                span

