mixin head(title)
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='viewport', content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Noto+Sans|Noto+Sans+TC:300,400,500,700&display=swap")
		title=title
		meta(name='description', content='')
		meta(name='author', content='Admin')
		link(rel="shortcut icon" href="./assets/images/favicon.png" type="image/x-icon")
		style.
			main {
				opacity: 0;
			}
