section.section.section-pad-bottom.section-harware
    .container
        .row
            .col-12.text-center.mb-md-5
                h2.section-heading.section-heading--devices.mb-4.mb-xl-5 Hardware Specs
            
        .row
            .col-12.mt-5
                h3.spec-title.mb-4 General
                .spec-box
                    .row.spec-item.border-bottom.m-0
                        .col-6
                            span.spec-name Use
                        .col-6
                            span.spec-desc Inside House
                    .row.spec-item.border-bottom.m-0
                        .col-6
                            span.spec-name Model
                        .col-6
                            span.spec-desc LS Mini Next
                    .row.spec-item.border-bottom.m-0
                        .col-6
                            span.spec-name Multi - Sensors included
                        .col-6
                            span.spec-desc Temperature . Brightness
                    .row.spec-item.m-0
                        .col-6
                            span.spec-name Smartphone OS
                        .col-6
                            span.spec-desc Android 6.0 / Latest iOS
            .col-12.mt-5
                h3.spec-title.mb-4 Power
                .spec-box
                    .row.spec-item.border-bottom.m-0
                        .col-6
                            span.spec-name Power Supply
                        .col-6
                            span.spec-desc 100V-240V
                    .row.spec-item.m-0
                        .col-6
                            span.spec-name Power Adapter
                        .col-6
                            span.spec-desc 5V / 1.2A <br>
                            span.spec-desc (Micro USB)


            .col-12.mt-5
                h3.spec-title.mb-4 Connectivity Features
                .spec-box
                    .row.spec-item.border-bottom.m-0
                        .col-6
                            span.spec-name Communication Protocol
                        .col-6
                            span.spec-desc Wi-Fi(2.4GHz), IR, BLE
                    .row.spec-item.border-bottom.m-0
                        .col-6
                            span.spec-name Wi-Fi Router
                        .col-6
                            span.spec-desc 2.4GHz (Do not support 5GHz)
                    .row.spec-item.m-0
                        .col-6
                            span.spec-name IR Signal Range
                        .col-6
                            span.spec-desc 10m
                            span.spec-desc (Straight Line)
                    
            .col-12.mt-5
                h3.spec-title.mb-4 Dimensions
                .spec-box
                    .row.spec-item.border-bottom.m-0
                        .col-6
                            span.spec-name Weight
                        .col-6
                            span.spec-desc 24g
                    .row.spec-item.m-0
                        .col-6
                            span.spec-name Size
                        .col-6
                            span.spec-desc 5 cm x 5 cm x 1.6 cm
                    