section.section.bg-white-shade.section-inside
    .container
        .row
            .col-12.text-center.mb-md-5.mb-5
                h2.section-heading.mb-4 Multi-sensors inside
                p.section-desc Create a rule using sensor as <a class="d-inline link" href="#">trigger</a> 
                p.section-desc e.g. light turned on when it becomes dark
            
            .row.mt-lg-5
                .col-md-4.text-center.text-md-right
                    img.img-fluid.mb-3.inside-icon(src="./assets/images/icons/temperature.svg", alt="...")
                    h5.fnt-700 Temperature
                    p.text-sm.px-5.px-md-0 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                .col-md-4.text-center.pt-5.pt-md-0.d-none.d-md-block
                    img.img-fluid(src="./assets/images/products/inside-image.svg", alt="...")
                .col-md-4.text-center.text-md-left.mt-5.mt-md-0
                    img.img-fluid.mb-3.inside-icon(src="./assets/images/icons/brightness.svg", alt="...")
                    h5.fnt-700 Brightness
                    p.text-sm.px-5.px-md-0 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed