section.section.section--mini
    .container.container--1350.p-0
        .row.m-0.position-relative
            .col-12.text-center.p-0.text-center
                img.mini-product-img#mini-img(
                    data-img320="./assets/images/products/product-banner-mobile.png"
                    data-img767="./assets/images/products/product-banner-mobile.png"
                    data-img1200="./assets/images/products/product-banner.jpg"
                    data-img1440="./assets/images/products/product-banner.jpg"
                    src="./assets/images/products/product-banner-mobile.png" alt="mini")
            .col-12.absolute-center-content.banner-desc
                h1.section-heading.section-heading--70 LS <br> Mini Next
                h5.py-2 Spec & Features
                a.ls-btn.ls-btn--filled.w-50.mini-buy-btn(href="javascript:void(0);") buy now