section.section.section-pad-bottom.section--placement
    .container
        .row
            .col-12.text-center.mb-md-5
                h2.section-heading.section-heading--devices.mb-4.mb-xl-5.px-md-0 Placing LS Mini Next inside the room
            
            .col-12.text-center.p-0.mt-4
                //- img.img-fluid.w-100(src="./assets/images/products/inside_room_1.png", alt="...")
                p.placement-desc You need additional LS Mini as an extender to operate IR appliance in additional rooms.
                img.img-fluid.w-100#placement-img(
                    data-img320="./assets/images/products/m1.png"
                    data-img767="./assets/images/products/m1.png"
                    data-img1200="./assets/images/products/w1.png"
                    data-img1440="./assets/images/products/w1.png"
                    src="./assets/images/products/m1.png" alt="mini")
                //- img.img-fluid.w-100(src="./assets/images/products/inside_room_2.png", alt="...")
                p.placement-desc.mt-5 Make sure there is no obstacles between your appliance and LS hub.
                img.img-fluid.w-100#placement-img1(
                    data-img320="./assets/images/products/m2.png"
                    data-img767="./assets/images/products/m2.png"
                    data-img1200="./assets/images/products/w2.png"
                    data-img1440="./assets/images/products/w2.png"
                    src="./assets/images/products/m2.png" alt="mini")
