section.section.section-pad-bottom.section-work.mb-5.mb-md-0
    .container
        .row.px-3.px-md-0
            .col-12.text-center.mb-md-5
                h2.section-heading.section-heading--devices.mb-5.mb-xl-5 Works With
            
            .col-md-6.p-0.pr-md-4.d-md-flex
                .card.p-3
                    .media
                        img.media-icon.img-fluid.mx-2.pr-2.mx-md-4.pr-md-4(src="./assets/images/products/smart-camer-mobile.svg", alt="...")
                        .media-body
                            h5.mt-0.fnt-700 IR Appliances
                            p.mb-0 Download your remote model from thousands of remotes in our database, or create a custom remote by pairing any IR remote
                            a.link(href="javascript:void(0)") How to add a remote


                
            
            .col-md-6.p-0.pl-md-4.mt-4.mt-md-0.d-md-flex
                .card.p-3
                    .media
                        img.media-icon.img-fluid.mx-2.pr-2.mx-md-4.pr-md-4(src="./assets/images/products/tv-mobile.svg", alt="...")
                        .media-body
                            h5.mt-0.fnt-700 Smart Devices
                            p.mb-0 Add your favorite W-Fi and BLE devices. 
                            a.link(href="javascript:void(0)") Compatible devices