@mixin bp($size) {
  @if $size == "phone" {
    @media (min-width: $xs) {
      @content;
    }
  }

  @if $size == "xs" {
    @media (min-width: $x) {
      @content;
    }
  }

  @if $size == "sm" {
    @media (min-width: $sm) {
      @content;
    }
  }

  @if $size == "tab" {
    @media (min-width: $tab) {
      @content;
    }
  }

  @if $size == "desktop" {
    @media (min-width: $desktop) {
      @content;
    }
  }

  @if $size == "desktop-1200" {
    @media (min-width: $xl) {
      @content;
    }
  }

  @if $size == "desktop-lg" {
    @media (min-width: $desktop-lg) {
      @content;
    }
  }

  @if $size == "hd" {
    @media (min-width: $xxl) {
      @content;
    }
  }
}
