section.section.section--about.about
    .container
        .row.m-0
            .col-12.p-0
              h1.about__title About Us
              .d-flex.justify-content-center
                h6.about__tagline Free Your Life with LiveSmart
              .d-flex.flex-column.align-items-center
                .about__descriptions
                  .about__mission.my-4
                    h3.about__headings Mission
                    p.about__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                  .about__value.my-4.my-md-5
                    h3.about__headings.mb-3 Value
                    h2.about__value-title  Lorem ipsum
                    p.about__desc.mb-3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    h2.about__value-title  Lorem ipsum
                    p.about__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  .about__board.my-4.my-md-5
                    h3.about__headings.mb-4 Board Members
                    .row
                      .col-6
                        img.w-100(src="./assets/images/about/about-img-1.png" alt="board member")
                        p.about__board-name.mt-3 Masa Kano
                        p.about__board-desc Founder, CEO
                      .col-6
                        img.w-100(src="./assets/images/about/about-img-2.png" alt="board member")
                        p.about__board-name.mt-3 Masa Kano
                        p.about__board-desc Founder, CEO
                  .about__overview.my-4.my-md-5
                    h3.about__headings Overview
                    .row.my-4
                      .col-md-5
                        p.about__overview-title Company Name
                      .col-md-7
                        p.about__overview-desc Live Smart Inc. (English: Live Smart KK)
                    .row.my-4
                      .col-md-5
                        p.about__overview-title Head Office
                      .col-md-7
                        p.about__overview-desc 105-0003, 2-21-2 Nishi Shimbashi, Minato-ku, Tokyo 1st Nanto Building 2F
                    .row.my-4
                      .col-md-5
                        p.about__overview-title.mb-1.mb-md-0 Officer
                      .col-md-7
                        p.about__overview-desc.mb-3 <span>Representative Director and CEO - </span> Roy Ashok
                        p.about__overview-desc.mb-3 <span>Director - </span> Daisuke Ueda
                        p.about__overview-desc.mb-3 <span>Outside Director -  </span> Tadashi Mizushima (part-time)
                        p.about__overview-desc.mb-3 <span>Outside Director - </span>  Satoshi Yonekura (part-time)
                    .row.my-4
                      .col-md-5
                        p.about__overview-title Establishment
                      .col-md-7
                        p.about__overview-desc Live Smart Inc. (English: Live Smart KK)
                    .row.my-4
                      .col-md-5
                        p.about__overview-title Business Description
                      .col-md-7
                        p.about__overview-desc Live Smart Inc. (English: Live Smart KK)




        