section.section.section--rental
    .container-fluid.p-0
        .row.m-0.position-relative
            .col-12.text-center.p-0
                img.business-banner-img#business-img(
                    data-img320="./assets/images/business-new/business-banner-mobile.png"
                    data-img767="./assets/images/business-new/business-banner-mobile.png"
                    data-img1200="./assets/images/business-new/business-banner.png"
                    data-img1440="./assets/images/business-new/business-banner.png"
                    src="./assets/images/business-new/business-banner-mobile.png" alt="Business")
            .absolute-centertop-content.banner-desc
                h3.title LiveSmart for Business
                p.desc IoT-enabled platform for 
                    span Smart Home
                .banner-device
                    img(src="./assets/images/business-new/banner-device.png" alt="Banner Device")
            .banner-btn-block
                a(href="#").ls-btn.ls-btn--white.mr-md-3.mb-3.mb-md-0 Download Brochure
                a(href="#").ls-btn.ls-btn--black.ml-md-3 Talk to us


section.section-campaign
    .container.container--1350
        .row-m-0
            .campaign
                h2.title Campaign Area