section.section-cheap
  .container.container--1350
    .row
      .col-12
        .row
          .col-md-3
            img.w-100(src="./assets/images/business-new/cheap.svg" alt="super cheap")
          .col-md-8.offset-md-1
            .d-flex.flex-column.justify-content-center.h-100.pb-4.pb-md-0
              h3.title Super Cheap
              p.desc Basic package comes with plenty of features 