section.section.section--feature-cards.features
  .container.container--1350
    .row
      .col-12
        .row  
          .col-md-6.mb-3.mb-md-0
            .d-flex.features__card
              img.feature-img(src="./assets/images/business-new/feature-5.png" alt="feature img")
              .features__desc
                h3.title Maintenance
                  span.story-line
                p.desc Toilet clogged — no problem, let our bot assist you in fixing it and if required schedule a repair 
          .col-md-6
            .d-flex.features__card
              img.feature-img(src="./assets/images/business-new/feature-6.png" alt="feature img")
              .features__desc
                h3.title Connect to live agent
                  span.story-line
                p.desc If required bot can pass on the summary of the problem  to a live agent


