section.section.section--feature-cards.features
  .container.container--1350
    .row
      .col-12
        .row  
          .col-md-6.mb-3.mb-md-5
            .d-flex.features__card
              img.feature-img(src="./assets/images/business-new/feature-7.png" alt="feature img")
              .features__desc
                h3.title Manage move in/out 
                  span.story-line
                p.desc Upload CSV file to create smart home access for new residents and reset accounts of departing residents 
          .col-md-6.mb-3.mb-md-5
            .d-flex.features__card
              img.feature-img(src="./assets/images/business-new/feature-8.png" alt="feature img")
              .features__desc
                h3.title Notify residents
                  span.story-line
                p.desc Filter list using profile and behavior — notify about elevator repair, an event or special offer
          .col-md-6.mb-3.mb-md-5
            .d-flex.features__card
              img.feature-img(src="./assets/images/business-new/feature-9.png" alt="feature img")
              .features__desc
                h3.title User Analytics
                  span.story-line
                p.desc Use of smart home features, resident conversation on chatbot, profile and predict patterns
          .col-md-6.mb-3.mb-md-5
            .d-flex.features__card
              img.feature-img(src="./assets/images/business-new/feature-10.png" alt="feature img")
              .features__desc
                h3.title Self-viewing
                  span.story-line
                p.desc Give access to prospective resident or repair person.  Can access restricted features from LINE or WhatsApp
          .col-md-6
            .d-flex.features__card
              img.feature-img(src="./assets/images/business-new/feature-11.png" alt="feature img")
              .features__desc
                h3.title Integrate with call center
                  span.story-line
                p.desc Resident chat content can be passed on to call center  — lower cost and respond faster. Can do live chat from LS Dashboard

