section.section.section--feature-cards.features
  .container.container--1350
    .row
      .col-12
        .row  
          .col-md-6.mb-3.mb-md-0
            .d-flex.features__card
              img.feature-img(src="./assets/images/business-new/feature-12.png" alt="feature img")
              .features__desc
                h3.title Freedom of choice
                  span.story-line
                p.desc LiveSmart is an open platform and can connect to many IR appliances and smart devices — you can buy from LS or choose on your own
          .col-md-6
            .d-flex.features__card
              img.feature-img.h-100(src="./assets/images/business-new/feature-13.png" alt="feature img")
              .features__desc
                h3.title Zero construction setup
                  span.story-line
                p.desc Retrofit in an existing unit or install in a new apartment - by installer or resident

        .information-card
          .row
            .col-md-4.order-2.order-md-1
              img.inform-img(src="./assets/images/business-new/information-img-1.png")
            .col-md-8.order-1.order-md-2
              h3.inform-title Easy Setup by resident or installer
              p.inform-desc Set up hub in 90s.  Easily add IR appliances and devices from App.
              .d-flex.mt-4
                a(href="javascript:void(0);").ls-btn.ls-btn--transparent.d-inline-flex.align-items-center.mb-4
                  img.line-icon.mr-2(src="./assets/icons/play.svg" alt="line")
                  | See hub setup in 90s
        .information-card
          .row
            .col-md-4.order-2.order-md-1
              img.inform-img(src="./assets/images/business-new/information-img-1.png")
            .col-md-8.order-1.order-md-2
              h3.inform-title Support thousands of devices
              p.inform-desc Any IR appliances, plus smart devices with Wi-Fi, BLE, Zigbee protocols
              a(href="javascript:void(0);").ls-btn.ls-btn--transparent.d-inline-flex.align-items-center.mt-4
                //- img.line-icon.mr-2(src="./assets/icons/play.svg" alt="line")
                | See Connected Devices



