section.section.section--feature-cards.features
  .container.container--1350
    .row
      .col-12
        .row  
          .col-md-6.mb-3.mb-md-5
            .d-flex.features__card
              img.feature-img(src="./assets/images/business-new/feature-1.png" alt="feature img")
              .features__desc
                h3.title Control by voice
                  span.story-line
                p.desc Operate appliances and devices, support — Google Assistant .  Alexa  . Siri 
          .col-md-6.mb-3.mb-md-5
            .d-flex.features__card
              img.feature-img(src="./assets/images/business-new/feature-2.png" alt="feature img")
              .features__desc
                h3.title Alert if unusual activity
                  span.story-line
                p.desc Get an alert if the sensor got triggered by kid opening the window —  check status by camera
          .col-md-6.mb-3.mb-md-0
            .d-flex.features__card
              img.feature-img(src="./assets/images/business-new/feature-3.png" alt="feature img")
              .features__desc
                h3.title AI for everyday life
                  span.story-line
                p.desc Adaptive Intelligence logic can set the ambient conditions based on you preferences
          .col-md-6
            .d-flex.features__card
              img.feature-img(src="./assets/images/business-new/feature-4.png" alt="feature img")
              .features__desc
                h3.title Watch your pet
                  span.story-line
                p.desc Check home status from outside, if cold turn on AC to pet mode for your loved one 

