section.section.section--rental
    .container-fluid.p-0
        .row.m-0.position-relative
            .col-12.text-center.p-0.knowmore-img
                img.mini-product-img#knowmore(
                    data-img320="./assets/images/business-new/business-banner-mobile.png"
                    data-img767="./assets/images/business-new/business-banner-mobile.png"
                    data-img1200="./assets/images/business-new/knowmore-banner.png"
                    data-img1440="./assets/images/business-new/knowmore-banner.png"
                    src="./assets/images/business-new/business-banner-mobile.png" alt="Business")
            .absolute-centerTop-content.banner-desc
                h3.title.white Know More About LS

            .banner-btn-block
                a(href="#").ls-btn.ls-btn--white.mr-md-3.mb-4.mb-md-0 Download
                a(href="#").ls-btn.ls-btn--black.ml-md-3 Contact