section.section-merit
  .container
    .row
      .col-12
        h1.title Merits 
          span of LS platform
        .row.section-merit__features
          .col.mb-3.mb-md-0
            .d-flex.flex-column.justify-content-center.align-items-center
              img(src="./assets/images/business-new/developer.svg" alt="developer")
              p.desc Developer
          .col.mb-3.mb-md-0
            .d-flex.flex-column.justify-content-center.align-items-center
              img(src="./assets/images/business-new/owner.svg" alt="owner")
              p.desc Owner
          .col.mb-3.mb-md-0
            .d-flex.flex-column.justify-content-center.align-items-center
              img(src="./assets/images/business-new/export.svg" alt="property")
              p.desc Property Manager
          .col.mb-3.mb-md-0
            .d-flex.flex-column.justify-content-center.align-items-center
              img(src="./assets/images/business-new/airbnb.svg" alt="airbnb")
              p.desc Airbnb hosts
          .col.mb-3.mb-md-0
            .d-flex.flex-column.justify-content-center.align-items-center
              img(src="./assets/images/business-new/reit.svg" alt="reit")
              p.desc REITs
              

