section.section.section--merit-cards
  .container.container--1350
    .row
      .col-12 
        .row
          .col-md-4.mb-4.mb-md-0
            h3.card-title Smart Home
            .card
              p.card-desc Safe, smart and convenient living for residents
              p.card-desc Access and restricted use for family, guests & domestic helper
          .col-md-4.mb-4.mb-md-0
            h3.card-title Marketing
            .card
              p.card-desc Stay connected to residents after sales or contract is over
              p.card-desc Surveys and offers filtered by user profile and behavior
          .col-md-4.mb-4.mb-md-0
            h3.card-title Reduce Cost
            .card
              p.card-desc Manage communication by AI chatbots on LINE or WhatsApp
              p.card-desc Give access remotely to prospects for self-viewing 

