section.section.section--business-story.pb-4.px-0.business-story
    .container-fluid.p-0
        .story-wrapper
            .row.story.story--mobile.story--psa.js-part1.pb-0
                .col-sm-4.col-lg-4.text-sm-right.pl-5
                    .story__content.text-left.pt-4.pt-md-0
                      .d-flex.align-items-end
                        img.story-icon(src="./assets/images/business-new/story-1-icon.svg")
                        p.tag-desc.ml-3 Residents Experience
                      h2.story-title Smart Living
                      h3.story-feature safe . Modern . Convenient
                      p.story-desc Turn on appliances from your phone or voice, watch over your loved ones from outside and give access to cleaning person
                .col-sm-8.col-lg-8.p-0
                    .story__img-w.business
                        img.story__img#business-img1(
                            data-img320="./assets/images/stories/3/mobile.png"
                            data-img360="./assets/images/stories/3/mobile.png"
                            data-img600="./assets/images/business-new/story-1.png"
                            data-img363="./assets/images/business-new/story-1.png"
                            data-img1200="./assets/images/business-new/story-1.png"
                            data-img1440="./assets/images/business-new/story-1.png"
                            src="./assets/images/stories/3/mobile.png"
                            alt="Story 3")
                        .black-gradient
                        img.story__mobile-img.story__mobile-img--business.js-part1-mobile.business-overlay1(src="./assets/images/business-new/mockup-1.png" alt="adapt")
