section.section.section--business-story.px-0.business-story.py-0
    .container-fluid.p-0
        .story-wrapper
            .row.story.story--mobile.story--psa.js-part2.pb-0.mb-0
                .col-sm-8.col-lg-8.p-0.order-2.order-md-1
                    .story__img-w.business
                        img.story__img#business-img2(
                            data-img320="./assets/images/stories/3/mobile.png"
                            data-img360="./assets/images/stories/3/mobile.png"
                            data-img600="./assets/images/business-new/story-1.png"
                            data-img363="./assets/images/business-new/story-1.png"
                            data-img1200="./assets/images/business-new/story-1.png"
                            data-img1440="./assets/images/business-new/story-1.png"
                            src="./assets/images/stories/3/mobile.png"
                            alt="Story 3")
                        .black-gradient
                        img.story__mobile-img.story__mobile-img--business.js-part2-mobile.business-overlay2(src="./assets/images/business-new/mockup-2.png" alt="adapt")
                .col-sm-4.col-lg-4.text-sm-right.pl-5.order-1.order-md-2
                    .story__content.text-left.py-3
                      .d-flex.align-items-end
                        img.story-icon(src="./assets/images/business-new/story-1-icon.svg")
                        p.tag-desc.ml-3 Residents Experience
                      h2.story-title 24 x 7  Concierge
                      h3.story-feature Anytime .  Anywhere
                      p.story-desc.mb-3 AI chatbot to help you with any problem or questions about the apartment
                      p.story-desc.mb-3 Resident and guests can use it to control smartphone without App
                      p.story-desc Tap or use natural language
