section.section.section--business-story.p-0.business-story
    .container-fluid.p-0
        .story-wrapper
            .row.story.story--mobile.story--psa.js-part4.pb-0.mb-0
                .col-sm-4.col-lg-4.text-sm-right.pl-5
                    .story__content.text-left.py-3

                      h2.story-title LS Hub
                      h3.story-feature Gateway  .  Sensors
                      p.story-desc Connects IR appliances, smart devices and sensors to LS cloud.
                      p.story-desc LS Hub has 3 built-in sensors.
                      p.story-desc.mt-1 Temp . Brightness  . Motion
                .col-sm-8.col-lg-8.p-0
                    .story__img-w.business
                        img.story__img#business-img4(
                            data-img320="./assets/images/stories/3/mobile.png"
                            data-img360="./assets/images/stories/3/mobile.png"
                            data-img600="./assets/images/business-new/story-1.png"
                            data-img363="./assets/images/business-new/story-1.png"
                            data-img1200="./assets/images/business-new/story-1.png"
                            data-img1440="./assets/images/business-new/story-1.png"
                            src="./assets/images/stories/3/mobile.png"
                            alt="Story 3")
                        .black-gradient
                        img.story__mobile-img.story__mobile-img--business.js-part4-mobile.business-overlay4(src="./assets/images/business-new/mockup-4.png" alt="adapt")
