section.section.section--business-story.p-0.business-story
    .container-fluid.p-0
        .story-wrapper
            .row.story.story--mobile.story--psa.js-part3.pb-0.mb-0
                .col-sm-4.col-lg-4.text-sm-right.pl-5
                    .story__content.text-left.py-3
                      .d-flex.align-items-end.mb-3
                        img.story-icon(src="./assets/images/business-new/export.svg")
                        p.tag-desc.ml-3 Property Manager
                      .d-flex.align-items-end.mb-3
                        img.story-icon(src="./assets/images/business-new/airbnb.svg")
                        p.tag-desc.ml-3 Airbnb Hosts
                      .d-flex.align-items-end.mb-3
                        img.story-icon(src="./assets/images/business-new/reit.svg")
                        p.tag-desc.ml-3 REITs
                      h2.story-title LS Dashboard
                      h3.story-feature Control . Info . Analytics
                      p.story-desc A single dashboard gives you full overview of your property and residents
                .col-sm-8.col-lg-8.p-0
                    .story__img-w.business
                        img.story__img#business-img3(
                            data-img320="./assets/images/stories/3/mobile.png"
                            data-img360="./assets/images/stories/3/mobile.png"
                            data-img600="./assets/images/business-new/story-1.png"
                            data-img363="./assets/images/business-new/story-1.png"
                            data-img1200="./assets/images/business-new/story-1.png"
                            data-img1440="./assets/images/business-new/story-1.png"
                            src="./assets/images/stories/3/mobile.png"
                            alt="Story 3")
                        .black-gradient
                        img.story__mobile-img.story__mobile-img--business.js-part3-mobile.business-overlay3(src="./assets/images/business-new/mockup-3.png" alt="adapt")
