section.section.section-pad-bottom.section-harware
    .container
        .row
            .col-12.text-center.mb-md-5
                h2.section-heading.section-heading--devices.mb-4.mb-xl-5 仕様

        .row
            .col-12.mt-5
                h3.spec-title.mb-4 概要

                .spec-box
                    .row.spec-item.border-bottom.m-0
                        .col-6
                            span.spec-name 想定利用場所
                        .col-6
                            span.spec-desc 屋内
                    .row.spec-item.border-bottom.m-0
                        .col-6
                            span.spec-name 製品名
                        .col-6
                            span.spec-desc LS Mini Next
                    .row.spec-item.border-bottom.m-0
                        .col-6
                            span.spec-name 内蔵センサー
                        .col-6
                            span.spec-desc 温度センサー、照度センサー

                    .row.spec-item.m-0
                        .col-6
                            span.spec-name 対応OS
                        .col-6
                            span.spec-desc Android 6.0 / iOS 最新版
            .col-12.mt-5
                h3.spec-title.mb-4 電源

                .spec-box
                    .row.spec-item.border-bottom.m-0
                        .col-6
                            span.spec-name 入力
                        .col-6
                            span.spec-desc 100V-240V
                    .row.spec-item.m-0
                        .col-6
                            span.spec-name アダプター
                        .col-6
                            span.spec-desc 50V DC 12A <br>
                            span.spec-desc (Micro USB)


            .col-12.mt-5
                h3.spec-title.mb-4 接続機能

                .spec-box
                    .row.spec-item.border-bottom.m-0
                        .col-6
                            span.spec-name 通信プロトコル

                        .col-6
                            span.spec-desc Wi-Fi(2.4GHz), IR, BLE
                    .row.spec-item.border-bottom.m-0
                        .col-6
                            span.spec-name そして
                        .col-6
                            span.spec-desc 2.4GHz (Do not support 5GHz)
                    .row.spec-item.m-0
                        .col-6
                            span.spec-name IR信号範囲
                        .col-6
                            span.spec-desc Wi-Fi(2.4GHz), IR, BLE

            .col-12.mt-5
                h3.spec-title.mb-4 寸法
                .spec-box
                    .row.spec-item.border-bottom.m-0
                        .col-6
                            span.spec-name 重量
                        .col-6
                            span.spec-desc 71g
                    .row.spec-item.m-0
                        .col-6
                            span.spec-name サイズ
                        .col-6
                            span.spec-desc 80 X 85 X 22mm
