section.section.section--mini-next.mini-next.my-5.mt-md-0
    .container.container--1350.px-md-5
        .row.m-0.position-relative
            .col-5.col-md-2
              img.mini-next-img(src="assets/images/products/mini-next.svg" alt="mini-next")
            .col-7.col-md-10
              .d-flex.justify-content-between.mini-desc
                div
                  h5.white.mini-next__title LS Mini Next
                  p.white.mini-price.mt-2 ¥5,980
                div
                  a.ls-btn.ls-btn--blue.w-50.white.mini-btn.mt-4(href="javascript:void(0);") 購入