section.section
    .container
        .row
            .col-12.text-center
                h2.section-heading.section-heading--devices.mb-4.mb-xl-5 コンパクトなサイズ
            .col-12.bg-gray-f0.mt-md-5.outside-wrrapper.py-5
                .row.d-md-flex.align-items-center.px-5.px-md-0
                    //- .col-md-6
                    //-     img.img-fluid(src="./assets/images/products/ls-mini-front.png", alt="...")
                    //- .col-md-6.mt-5.mt-md-0
                    //-     img.img-fluid.float-md-right(src="./assets/images/products/ls-mini-back.png", alt="...")
                    img.mini-product-img#outside-img(
                        data-img320="./assets/images/products/outside-mobile.svg"
                        data-img767="./assets/images/products/outside-mobile.svg"
                        data-img1200="./assets/images/products/outside-web.png"
                        data-img1440="./assets/images/products/outside-web.png"
                        src="./assets/images/products/outside-mobile.svg" alt="mini")