section.section.section-pad-bottom.section--placement
    .container
        .row
            .col-12.text-center.mb-md-5
                h2.section-heading.section-heading--devices.mb-4.mb-xl-5.px-md-0
                    | 推奨設
                    strong 推奨設

            .col-12.text-center.p-0.mt-4
                //- img.img-fluid.w-100(src="./assets/images/products/inside_room_1.png", alt="...")
                img.img-fluid.w-100#placement-img(
                    data-img320="./assets/images/products/inside_room_1.png"
                    data-img767="./assets/images/products/inside_room_1.png"
                    data-img1200="./assets/images/products/inside_room_1.jpg"
                    data-img1440="./assets/images/products/inside_room_1.jpg"
                    src="./assets/images/products/inside_room_1.png" alt="mini")
                p.placement-desc LS Mini Nextは赤外線の発信に障害物の少ない箇所に設置してください。

                //- img.img-fluid.w-100(src="./assets/images/products/inside_room_2.png", alt="...")
                img.img-fluid.w-100#placement-img1.mt-5(
                    data-img320="./assets/images/products/inside_room_2.png"
                    data-img767="./assets/images/products/inside_room_2.png"
                    data-img1200="./assets/images/products/inside_room_2.jpg"
                    data-img1440="./assets/images/products/inside_room_2.jpg"
                    src="./assets/images/products/inside_room_2.png" alt="mini")
                p.placement-desc
                    | 複数の部屋で赤外線家電を操作したい場合は、
                    strong エクステンダー機能
                    | を利用して各部屋にLS Mini Nextを設置してください。

