section.section.section--mini
    .container-fluid.p-0
        .row.m-0.position-relative
            .col-12.text-center.p-0.text-center
                img.mini-product-img#setup(
                    data-img320="./assets/images/products/video_bg_mobile.svg"
                    data-img767="./assets/images/products/video_bg_mobile.svg"
                    data-img1200="./assets/images/products/video_bg.jpg"
                    data-img1440="./assets/images/products/video_bg.jpg"
                    src="./assets/images/products/video_bg_mobile.svg" alt="video")
            .col-12.absolute-center-xy-content.text-center
                h2.mb-4 設定ガイド
                a(href="javascript:void(0);")
                    img.img-fluid.play-button(src="./assets/images/icons/play_button.svg", alt="Play")