section.section.section-pad-bottom.section-work.mb-5.mb-md-0
    .container
        .row.px-3.px-md-0
            .col-12.text-center.mb-md-5
                h2.section-heading.section-heading--devices.mb-5.mb-xl-5 接続可能デバイス

            .col-md-6.p-0.pr-md-4
                .card.p-3
                    .media
                        img.media-icon.img-fluid.mx-2.pr-2.mx-md-4.pr-md-4(src="./assets/images/icons/ip.svg", alt="...")
                        .media-body
                            h5.mt-0.fnt-700 赤外線家電
                            p.mb-0 国内ほぼ全ての赤外線家電のプリセットを用意。簡単に使い始めることができます。万が一プリセットがない場合でも、リモコンの赤外線を学習させることができます。
                            a.link(href="javascript:void(0)") 家電製品の追加方法




            .col-md-6.p-0.pl-md-4.mt-4.mt-md-0
                .card.p-3
                    .media
                        img.media-icon.img-fluid.mx-2.pr-2.mx-md-4.pr-md-4(src="./assets/images/icons/smart-device.svg", alt="...")
                        .media-body
                            h5.mt-0.fnt-700 スマートホームデバイス
                            p.mb-0 様々なWi-FiやBLEデバイスを 追加することができます。
                            a.link(href="javascript:void(0)") 接続可能なデバイス
