html
  include base/head.pug
  +head('Livesmart - Business')

  body
    main.business.business--new
      //- include layouts/business/fab-navigator.pug
      
      include base/header-fluid.pug

      include layouts/business-new/banner.pug

      include layouts/business-new/merits.pug

      include layouts/business-new/merit-cards.pug

      include layouts/business-new/cheap.pug

      .js-story-business
        include layouts/business-new/story-1.pug


      include layouts/business-new/feature-cards.pug

      .js-story-business
        include layouts/business-new/story-2.pug

      include layouts/business-new/feature-cards-1.pug

      .js-story-business
        include layouts/business-new/story-3.pug

      include layouts/business-new/feature-cards-2.pug

      .js-story-business
        include layouts/business-new/story-4.pug

      include layouts/business-new/feature-cards-3.pug

      include layouts/business-new/know-more.pug

      include base/footer.pug

    include components/loader.pug

    script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js")