html
  include base/head.pug
  +head('Livesmart - Business')

  body
    main.business
      include layouts/business/fab-navigator.pug
      
      include base/header.pug

      include layouts/business/banner.pug

      include layouts/business/property-value.pug
    
      .js-chat-1
        include layouts/business/story-1.pug
      
      .js-support-device
        include layouts/business/support-device.pug

      .js-chat-2
        include layouts/business/story-2.pug
      .js-chat-3
        include layouts/business/story-3.pug
      .js-chat-4
        include layouts/business/story-4.pug
      .js-chat-5
        include layouts/business/story-5.pug
      .js-chat-6
        include layouts/business/story-6.pug
      .js-chat-7
        include layouts/business/story-7.pug
      .js-chat-8
        include layouts/business/story-8.pug
      .js-chat-9
        include layouts/business/story-9.pug

      include layouts/business/offer.pug

      include base/footer.pug

    include components/loader.pug

    script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js")