html
  include base/head.pug
  +head('Livesmart - Device Detail')

  body

    main
      include base/header.pug

      include layouts/device-detail/product-banner.pug
      include layouts/device-detail/product-desc.pug

      include base/footer-black.pug

    include components/loader.pug

    script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js")
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js")