html
  include base/head.pug
  +head('Livesmart - Home')

  body

    main
      include base/header.pug
      include layouts/home/banner.pug
      include layouts/home/see.pug

      .js-story1
        include layouts/home/story1.pug

      include layouts/home/connects.pug

      .js-story2
        include layouts/home/story3.pug

      .js-guest
        include layouts/home/story6.pug

      .js-story5
        include layouts/home/story5.pug

      .js-alert
        include layouts/home/story8.pug

      include layouts/home/story9.pug

      include layouts/home/mini.pug

      include layouts/home/supported-devices.pug

      include layouts/home/products.pug

      include layouts/home/news.pug

      include base/footer.pug

    include components/loader.pug

    script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js")