html(lang="jp")
  include base/head.pug
  +head('Livesmart - Home')

  body

    main
      include base/header.pug
      include layouts/home/jp/banner.pug
      include layouts/home/jp/see.pug

      .js-story1
        include layouts/home/jp/story1.pug

      include layouts/home/jp/connects.pug

      .js-story2
        include layouts/home/jp/story3.pug

      .js-guest
        include layouts/home/jp/story6.pug

      .js-story5
        include layouts/home/jp/story5.pug

      .js-alert
        include layouts/home/jp/story8.pug

      include layouts/home/jp/story9.pug

      include layouts/home/jp/mini.pug

      include layouts/home/jp/supported-devices.pug

      include layouts/home/jp/products.pug

      include layouts/home/jp/news.pug

      include base/footer.pug

    include components/loader.pug

    script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js")