html
  include base/head.pug
  +head('Livesmart - Product')

  body
    main
      include base/header.pug


      include layouts/product/jp/mini.pug
      include layouts/product/jp/outside.pug
      include layouts/product/jp/works-with.pug
      include layouts/product/jp/inside.pug
      include layouts/product/jp/placement-in-room.pug
      include layouts/product/jp/setup-guide.pug
      include layouts/product/jp/hardware-specs.pug
      include layouts/product/jp/mini-next.pug

      include base/footer.pug

    include components/loader.pug

    script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js")