html
  include base/head.pug
  +head('Livesmart - Product')

  body
    main
      include base/header.pug


      include layouts/product/mini.pug
      include layouts/product/outside.pug
      include layouts/product/works-with.pug
      include layouts/product/inside.pug
      include layouts/product/placement-in-room.pug
      include layouts/product/setup-guide.pug
      include layouts/product/hardware-specs.pug
      include layouts/product/mini-next.pug

      include base/footer.pug

    include components/loader.pug

    script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js")