html
  include base/head.pug
  +head('Livesmart - Devices')

  body

    main.support-device
      include base/header.pug

      include layouts/supported-device/ir-devices.pug
      include layouts/supported-device/wifi-devices.pug
      include layouts/supported-device/sensor-list.pug

      include base/footer-black.pug

    include components/loader.pug

    script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js")
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js")