section.section.section--home
    .container.container--1350
        .row
            .col-12.p-0
                .banner-content-w#banner-aos
                    img.banner-bgimg.w-100(
                        data-aos="fade"
                        src="./assets/images/banner/320.png",
                        data-img320="./assets/images/banner/320.png"
                        data-img360="./assets/images/banner/360.png"
                        data-img600="./assets/images/banner/767.png"
                        data-img767="./assets/images/banner/767.png"
                        data-img1200="./assets/images/banner/desktop.png"
                        data-img1440="./assets/images/banner/desktop.png"
                        alt='Banner')

                    .banner-content.home
                        .d-block.text-center
                            .banner-content__data(data-aos="fade-up")

                                .h-reveal-w
                                    h1.section-heading.section-heading--70 Jump into
                                    .h-revealer
                                .h-reveal-w
                                    h1.section-heading.section-heading--70 Next
                                    .h-revealer

                                .banner-product-w(data-aos="fade-up")
                                    img.banner-product-img(src="./assets/images/banner-product-2.svg" alt="product")
                                    p.banner-product-title LS Mini Next
                            ul.banner-actions-list(data-aos="fade-up" data-aos-anchor="#banner-aos")
                                li
                                    a(href="javascript:void(0);").ls-btn.ls-btn--filled
                                        | 購入
                                li
                                    a(href="javascript:void(0);").ls-btn
                                        | さらに詳しく

            .col-12.p-0
                .add-speaker.d-md-none(data-aos="fade")
                    .row
                        .col-2.col-sm-3.col-lg-2.d-flex.align-items-center
                            img.img-fluid(src="./assets/images/camera.png" alt="camera")
                        .col-4.col-sm-3.col-lg-3.d-flex.align-items-center
                            h2.add-speaker__heading
                                | Free camera
                        .col-6.col-sm-4.col-lg-5.d-flex.align-items-center
                            .d-block
                                p.add-speaker__desc.mb-2 When you enroll into one year service plan.
                                a(href="javascript:void(0);").link
                                    span explore
                                    img(src="./assets/images/arrow.svg" alt=">")
                .add-speaker.d-none.d-md-block(data-aos="fade")
                    .row
                        .col-3.col-sm-3.col-lg-2.d-flex.align-items-center
                            img.img-fluid(src="./assets/images/speaker.png" alt="speaker")
                        .col-4.col-sm-3.col-lg-3.d-flex.align-items-center
                            h2.add-speaker__heading
                                | Add Smart  Speakers
                        .col-5.col-sm-4.col-lg-5.d-flex.align-items-center
                            .d-block
                                p.add-speaker__desc.mb-2 Operate your Devices and rules by voice and make your life simpler
                                a(href="javascript:void(0);").link
                                    span explore
                                    img(src="./assets/images/arrow.svg" alt=">")
