section.section.section--connects
    .container
        .row
            .col-12.text-center
                h2.section-heading.mb-100(data-aos="fade")
                    | ご利用可能な 音声アシスタント
            .col-12
                ul.connects-list
                    li(data-aos="fade-up" data-aos-offset="300")
                        .connect
                            img.connect__img(src="./assets/images/google-assistant.svg" alt="Google Assistant")
                            h4.connect__title google assistant
                    li(data-aos="fade-up" data-aos-offset="300")
                        .connect
                            img.connect__img(src="./assets/images/alexa.svg" alt="Alexa")
                            h4.connect__title amazon alexa
                    li(data-aos="fade-up" data-aos-offset="300")
                        .connect
                            img.connect__img(src="./assets/images/siri.svg" alt="siri")
                            h4.connect__title apple siri