section.section.section--mini
    .container.container--1350.p-0
        .row.m-0
            .col-12.text-center.p-0.text-center
                h2.section-heading.section-heading--70.mini-heading(data-aos="fade-down") LS Mini Next
                img.mini-product-img#mini-img(
                    data-img320="./assets/images/mini/mobile.png"
                    data-img767="./assets/images/mini/desktop.png"
                    data-img1200="./assets/images/mini/desktop.png"
                    data-img1440="./assets/images/mini/desktop.png"
                    src="./assets/images/mini/mobile.png" alt="mini")
            .col-12
                    .mini-content-w
                        ul.mini-details-list
                            li(data-aos="fade")
                                .mini
                                    .d-flex.align-items-start
                                        img.mini__icon(src="./assets/images/mini/mini-1.svg" alt="small & powerful")
                                        .mini__content-w
                                            h4.mini__title
                                                | 様々な通信規格に対応
                                            ul.mini-features-list
                                                li
                                                    p.mini__detail
                                                        img.mini-feature-icon(src="./assets/icons/wifi.svg" alt="wifi")
                                                        span Wi-Fi
                                                li
                                                    p.mini__detail
                                                        img.mini-feature-icon(src="./assets/icons/bt.svg" alt="bluetooth")
                                                        span BLE
                                                li
                                                    p.mini__detail
                                                        img.mini-feature-icon(src="./assets/icons/infra.svg" alt="infra-red")
                                                        span IR
                            li(data-aos="fade")
                                .mini
                                    .d-flex.align-items-start
                                        img.mini__icon(src="./assets/images/mini/mini-2.svg" alt="multi sensors")
                                        .mini__content-w
                                            h4.mini__title
                                                | センサー内蔵

                                            p.mini__detail
                                                | 温度センサー、照度センサー
                            li(data-aos="fade")
                                .mini
                                    .d-flex.align-items-start
                                        img.mini__icon(src="./assets/images/mini/mini-3.svg" alt="multi sensors")
                                        .mini__content-w
                                            h4.mini__title
                                                | 90秒で簡単設定
                                            a(href="javascript:void(0);").ls-btn.text-normal.mt-2
                                                img.mini-feature-icon.mr-2.play(src="./assets/icons/play.svg" alt="infra-red")
                                                span.ml-0 設定ガイド





