section.py-5
    .container
        .row
            .col-12.text-center
                h2.section-heading.mb-3.mb-xl-4(data-aos="fade-down") News
            .col-lg-8(data-aos="fade")
                a(href="javascript:void(0);").ls-news
                    .img-container
                        img(src="./assets/images/news.png", alt="news")
                    .content-container
                        p Oct 25,2019
                        h3 スマートホームの普及・社会インフラ化を目指すLive Smart、三菱地所、みずほキャピタル、三井住友海上キャピタルなどから約3億円の資金調達を実施 〜IoTを活用したスマートホーム領域では最大規模となる累計5億円超の調達を完了～
            .col-lg-4
                .row
                    .col-md-6.col-lg-12.mb-md-3(data-aos="fade")
                        a(href="javascript:void(0);").ls-news-small
                            .img-container
                                img(src="./assets/images/news1.png", alt="news1")
                            .content-container
                                h3 スマートホームの普及・社会インフラ化を目指すLive Smart、三菱地所、みずほキャピタル、三井住友海上キャピタルなどから約3億円の資金調
                    .col-md-6.col-lg-12(data-aos="fade")
                        a(href="javascript:void(0);").ls-news-small
                            .img-container
                                img(src="./assets/images/news1.png", alt="news1")
                            .content-container
                                h3 スマートホームの普及・社会インフラ化を目指すLive Smart、三菱地所、みずほキャピタル、三井住友海上キャピタルなどから約3億円の資金調
            .col-12.text-right
                a(href="javascript:void(0);").link
                    span more news
                    img(src="./assets/images/arrow.svg" alt=">")
