section.section.section--products
    .container
        .row
            .col-12.text-center
                h2.section-heading.mb-5.mb-xl-5.text-capitalize(data-aos="fade-down") 今すぐ購入

            .col-12.p-0(data-aos="fade")
                .swiper-container.js-products-swiper.products-swiper
                    .swiper-wrapper
                        .swiper-slide.d-flex
                            .product
                                .product__img-w
                                    img.product__img(src="./assets/images/products/1.svg" alt="LS Mini Next")
                                .product__content
                                    h4.product__title LS Mini Next
                                    p.product__price ¥5,980
                                    a(href="javascript:void(0);").ls-btn.ls-btn--black
                                        | 購入

                        .swiper-slide.d-flex
                            .product
                                .product__img-w
                                    img.product__img(src="./assets/images/products/2.svg" alt="LS Next + LS Push")
                                .product__content
                                    h4.product__title
                                        | LS Mini Next
                                        span.d-block +
                                        | LS Push
                                    p.product__price ¥5,980
                                    a(href="javascript:void(0);").ls-btn.ls-btn--black
                                        | 購入

                        .swiper-slide.d-flex
                            .product
                                .product__img-w
                                    img.product__img(src="./assets/images/products/3.svg" alt="LS Mini")
                                .product__content
                                    h4.product__title LS Mini
                                    p.product__price ¥5,980
                                    a(href="javascript:void(0);").ls-btn.ls-btn--black
                                        | 購入

                        .swiper-slide.d-flex
                            .product
                                .product__img-w
                                    img.product__img(src="./assets/images/products/4.svg" alt="LS Push")
                                .product__content
                                    h4.product__title  LS Push
                                    p.product__price ¥5,980
                                    a(href="javascript:void(0);").ls-btn.ls-btn--black
                                        | 購入

