section.section.section--story
    .container.container--1350
        .story-wrapper
            .row.story.story--alert
                .col-sm-4.col-lg-4.text-sm-right
                    .story__content
                        h3.section-heading.section-heading--story
                            strong.d-inline 何かあれば
                            | 通知を 受け取って
                        a(href="javascript:void(0);").ls-btn.ls-btn--story
                            | 文字入力で会話ができる
                .col-sm-8.col-lg-8.p-0
                    .story__img-w.position-relative
                        .story__chat-w
                            ul.story-chats.story-chats--ls
                                li.story-chats__chat.system
                                    .story-chat
                                        .story-chat__msg
                                            p.story-chat__content 窓センサーが開いています
                                        img.story-chat__img(src="./assets/images/chat-ls.svg" alt="user")
                                        p.story-chat__timestamp 10:00 AM
                                li.story-chats__chat.user
                                    .story-chat
                                        .story-chat__msg
                                            p.story-chat__content カメラを見せて
                                        p.story-chat__timestamp 10:00 AM
                                li.story-chats__chat.system
                                    .story-chat
                                        .story-chat__msg
                                            p.story-chat__content
                                                | タップしてカメラ画像を見て下さい
                                                a(href="javascript:void(0);").mx-1.d-inline-block リビングカメラ
                                        p.story-chat__timestamp 10:00 AM
                                        img.story-chat__img(src="./assets/images/chat-ls.svg" alt="user")
                        .black-gradient
                        img.story__img(
                            src="./assets/images/stories/8/mobile.png"
                            alt="Story 8")
