section.section.section--story.pb-5
    .container.container--1350
        .story-wrapper
            .row.story.story--mobile.story--psa.js-part1
                .col-sm-4.col-lg-4.text-sm-right
                    .story__content
                        h3.section-heading.section-heading--story
                            strong.d-inline-block 外から
                            | でもお家の状態を確認して
                .col-sm-8.col-lg-8.p-0
                    .story__img-w
                        img.story__img#story5-img(
                            data-img320="./assets/images/stories/5/mobile.png"
                            data-img360="./assets/images/stories/5/mobile.png"
                            data-img600="./assets/images/stories/5/desktop.png"
                            data-img363="./assets/images/stories/5/desktop.png"
                            data-img1200="./assets/images/stories/5/desktop.png"
                            data-img1440="./assets/images/stories/5/desktop.png"
                            src="./assets/images/stories/5/mobile.png"
                            alt="Story 5")
                        img.story__mobile-img.js-part1-mobile(src="./assets/images/mobile/jp/3.svg" alt="adapt")
            .row.story.story--mobile.story--psa.story--pet.js-part2
                .col-sm-4.col-lg-4.text-sm-right
                    .story__content
                        h3.section-heading.section-heading--story
                            | あなたの
                            strong.d-inline-block.d-sm-inline.ml-0 大切なペットをもっと大切に。

                .col-sm-8.col-lg-8.p-0
                    .story__img-w
                        img.story__img#story7-img(
                            data-img320="./assets/images/stories/7/mobile.png"
                            data-img360="./assets/images/stories/7/mobile.png"
                            data-img600="./assets/images/stories/7/desktop.png"
                            data-img767="./assets/images/stories/7/desktop.png"
                            data-img1200="./assets/images/stories/7/desktop.png"
                            data-img1440="./assets/images/stories/7/desktop.png"
                            src="./assets/images/stories/7/mobile.png" alt="Story 7")
                        img.story__mobile-img.js-part2-mobile(src="./assets/images/mobile/jp/4.svg" alt="adapt")