section.section.section--story.pb-4
    .container.container--1350
        .story-wrapper
            .row.story.story--mobile.story--psa.js-part1
                .col-sm-4.col-lg-4.text-sm-right
                    .story__content
                        h3.section-heading.section-heading--story
                            | ライフスタイルに
                            strong.ml-0.mx-sm-0.d-inline-block 合わせて
                .col-sm-8.col-lg-8.p-0
                    .story__img-w
                        img.story__img#story3-img(
                            data-img320="./assets/images/stories/3/mobile.png"
                            data-img360="./assets/images/stories/3/mobile.png"
                            data-img600="./assets/images/stories/3/desktop.png"
                            data-img363="./assets/images/stories/3/desktop.png"
                            data-img1200="./assets/images/stories/3/desktop.png"
                            data-img1440="./assets/images/stories/3/desktop.png"
                            src="./assets/images/stories/3/mobile.png"
                            alt="Story 3")
                        img.story__mobile-img.js-part1-mobile(src="./assets/images/mobile/jp/1.svg" alt="adapt")
            .row.story.story--mobile.story--part2.story--psa.js-part2
                .col-sm-4.col-lg-4.text-sm-right
                    .story__content
                        h3.section-heading.section-heading--story
                            | エアコンが
                            strong.mr-sm-0 あなたのために
                            | 動き出す。
                        a(href="javascript:void(0);").ls-btn.ls-btn--story
                            | Adaptive Intelligenceについて
                .col-sm-8.col-lg-8.p-0
                    .story__img-w
                        img.story__img#story4-img(
                            data-img320="./assets/images/stories/4/mobile.png"
                            data-img360="./assets/images/stories/4/mobile.png"
                            data-img600="./assets/images/stories/4/desktop.png"
                            data-img767="./assets/images/stories/4/desktop.png"
                            data-img1200="./assets/images/stories/4/desktop.png"
                            data-img1440="./assets/images/stories/4/desktop.png"
                            src="./assets/images/stories/4/mobile.png"
                            alt="Story 4")
                        img.story__mobile-img.js-part2-mobile(src="./assets/images/mobile/jp/2.svg" alt="adapt")