section.section.section--devices
    .container
        .row
            .col-12.text-center
                h2.section-heading.section-heading--devices.mb-4.mb-xl-5(data-aos="fade-down") 接続可能デバイス
            .col-sm-5.col-lg-6
                .device-img-container.mx-auto
                    img.w-100(src="./assets/images/support-devices.svg", alt="device" data-aos="fade-right")
            .col-sm-7.col-lg-6
                .devices.px-2.mt-sm-3.mt-lg-4.pt-lg-2
                    h5.devices-title(data-aos="fade-down") 赤外線家電

                    ul.devices-list(data-aos="fade-up")
                        li.devices-list__item(data-aos="fade-up")
                            .img-container
                                img(src="./assets/images/devices/ac.svg", alt="ac")
                            p  エアコン
                        li.devices-list__item(data-aos="fade-up")
                            .img-container
                                img(src="./assets/images/devices/tv.svg", alt="tv")
                            p  テレビ
                        li.devices-list__item(data-aos="fade-up")
                            .img-container
                                img(src="./assets/images/devices/light.svg", alt="light")
                            p  シーリング ライト
                        li.devices-list__item(data-aos="fade-up")
                            .img-container
                                img(src="./assets/images/devices/fan.svg", alt="fan")
                            p  扇風機
                        li.devices-list__item(data-aos="fade-up")
                            .img-container
                                img(src="./assets/images/devices/remote.svg", alt="remote")
                            p  プリセットがなくても、リモコンを学習させられる

                    h5.devices-title(data-aos="fade-up") スマートホームデバイス
                    ul.devices-list
                        li.devices-list__item(data-aos="fade-up")
                            .img-container
                                img(src="./assets/images/devices/push.svg", alt="push")
                            p  LS Push
                        li.devices-list__item(data-aos="fade-up")
                            .img-container
                                img(src="./assets/images/devices/lock.svg", alt="lock")
                            p  セサミ スマートロック

                    .d-sm-flex.align-items-center.mb-4
                        h5.devices-title.mr-3.mr-lg-4.mb-3(data-aos="fade-up")
                            | Wi-Fiで操作するデバイス
                        .d-flex.align-items-center
                            .text-center.mr-3.mr-lg-4(data-aos="fade-up")
                                img.smart-icon(src="./assets/icons/tuya.png" alt="")
                                p.smart-title tuya smart
                            .text-center(data-aos="fade-up")
                                img.smart-icon(src="./assets/icons/smart-life.png" alt="")
                                p.smart-title smart life
                    ul.devices-list
                        li.devices-list__item(data-aos="fade-up")
                            .img-container
                                img(src="./assets/images/devices/socket.svg", alt="plug")
                            p スマート コンセント
                        li.devices-list__item(data-aos="fade-up")
                            .img-container
                                img(src="./assets/images/devices/bulb.svg", alt="bulb")
                            p LED電球
                        li.devices-list__item(data-aos="fade-up")
                            .img-container
                                img(src="./assets/images/devices/camera.svg", alt="cam")
                            p カメラ

                    h5.devices-title(data-aos="fade-up") その他デバイス
                    ul.devices-list
                        li.devices-list__item(data-aos="fade-up")
                            .img-container
                                img(src="./assets/images/devices/philips.svg", alt="philips")
                            p  Philips Hue
                        li.devices-list__item(data-aos="fade-up")
                            .img-container
                                img(src="./assets/images/devices/beseye.svg", alt="webcam")
                            p  Beseye カメラ

