section.section.section--press.press
  .container
    .row
      .col-12
        h1.press__title Press Kit
    .row.press__card-block
      .col-6.col-md-4.mb-5.mb-md-0
        .press__card
          .press__card-img  
            img.w-100(src="./assets/images/presskit/press-img-1.png" alt="presskit image")
            .press__card-detail
              p.press__card-title.text-center Logo & Icons
              p.press__card-desc.text-center Logo, icons and app screenshorts
          .d-flex.justify-content-center
            a.ls-btn.ls-btn--black.mt-3.mt-md-5(href="#") Download
      .col-6.col-md-4.mb-5.mb-md-0
        .press__card
          .press__card-img  
            img.w-100(src="./assets/images/presskit/press-img-2.png" alt="presskit image")
            .press__card-detail
              p.press__card-title.text-center Executives
              p.press__card-desc.text-center Photo of our team executives
          .d-flex.justify-content-center
            a.ls-btn.ls-btn--black.mt-3.mt-md-5(href="#") Download
      .col-6.col-md-4.mb-5.mb-md-0
        .press__card
          .press__card-img  
            img.w-100(src="./assets/images/presskit/press-img-3.png" alt="presskit image")
            .press__card-detail
              p.press__card-title.text-center Office Photos
              p.press__card-desc.text-center Photos of your office .
          .d-flex.justify-content-center
            a.ls-btn.ls-btn--black.mt-3.mt-md-5(href="#") Download

