.banner-content {
  position: absolute;
  right: 0;
  top: 50px;
  width: 100%;
  height: auto;
  transform: translate(0%, 0%);

  @include bp('tab'){
    top: 35%;
    right: 50px;
    width: auto;
    transform: translate(0, -45%);
  }

  @include bp('desktop') {
    top: 50%;
    right: 60px;
  }

  @include bp('desktop-1200') {
    right: 100px;
  }

  &.home {
    .banner-content__data {
      max-width: 225px;
      margin: 0 0 0 auto;

      @media (min-width: 736px) {
        max-width: 280px;
      }

      @include bp('tab') {
        max-width: 350px;
      }

      @include bp('desktop') {
        max-width: 100%;
      }
    }
  }
}

.banner-bgimg {
  height: auto;
  min-height: 400px;
  max-height: 100%;
  width: 100%;
  pointer-events: none;

  @include bp('tab') {
    height: auto;
  }

  @include bp('desktop-1200') {
    height: 500px;
  }

  @include bp('desktop-lg') {
    height: 560px;
  }

  @include bp('hd') {
    height: auto;
  }
}

.banner-product-w {
  margin: 20px 0;

  @include bp('tab') {
    margin: 30px 0;
  }

  @include bp('desktop-1200') {
    margin: 40px 0;
  }
}

.banner-product-img {
  width: 120px;
  height: 120px;
  box-shadow: $box-shadow;

  @include bp('tab') {
    width: 90px;
    height: 90px;
  }

  @include bp('desktop') {
    width: 100px;
    height: 100px;
  }

  @include bp('desktop-1200') {
    width: 135px;
    height: 135px;
  }

  @include bp('desktop-lg') {
    width: 150px;
    height: 150px;
  }
}

.banner-product-title {
  color: #393939;
  font-family: $fnt-mst;
  font-size: 12px;
  margin: 10px 0;
  font-weight: 600;
  letter-spacing: 0.8px;
}

.banner-actions-list {
  margin: 32px 30px;

  @media (min-width: 410px) {
    margin: 60px 30px;
  }

  @media (min-width: 736px) {
    margin: 100px 30px;
  }

  @include bp('tab'){
    display: flex;
    margin: 0px 30px;
    justify-content: center;
    align-items: center;
  }

  li {
    margin: 0 0 20px 0;

    .ls-btn {
      width: 175px;

      @include bp('tab') {
        width: 100%;
      }
    }

    @include bp('tab') {
      margin: 0 20px 0 0;
    }

    &:last-child {
      margin: 0;
    }
  }
}

.banner-content-w {
  position: relative;
}