//Buttons
.ls-btn {
    @extend .btn;

    &,
    &:hover {
        padding: 10px;
        color: #000000;
        font-family: $fnt-mst;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        border-radius: 2px;
        border: 1px solid #000000;
        background-color: transparent;
        min-width: 105px;
        transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;

        @include bp('tab') {
            font-size: 10px;
            min-width: 135px;
            padding: 13px 24px;
        }

        @include bp('desktop') {
            font-size: 12px;
        }
    }

    &:hover {
        color: $w;
        background-color: #000000;
    }

    &--filled {

        &,
        &:hover {
            color: $w;
            background-color: #000000;
        }
    }

    &--black {

        &,
        &:hover {
            color: $w;
            background-color: #000000;
        }
    }

    &--white-border {

        &,
        &:hover {
            color: #000000;
            background-color: #ffffff;
        }
    }

    &--blue {
        background-color: #01bbff;
    }

    &--story {

        &,
        &:hover {
            padding: 8px 15px;
            min-width: auto;
            text-transform: initial;
        }
    }

    &--white {
        background-color: #fff;
        border: 1px solid #fff;
        color: #000 !important;
        padding: 10px;
        min-width: 110px;

        @include bp("tab") {
            padding: 14px;
        }

        &:hover {
            padding: 14px;
            background: transparent;
            border: 1px solid #fff !important;
            min-width: 110px;
            color: white !important;
        }
    }

    &--transparent {
        background-color: transparent;
        border: 1px solid #fff;
        color: #FFF !important;
        padding: 6px;
        min-width: 110px;

        @include bp("tab") {
            padding: 10px;
        }

        &:hover {
            padding: 10px;
            background: transparent;
            border: 1px solid #fff !important;
            min-width: 110px;
            color: white !important;
        }
    }
}