.rsu-circle {
    position: absolute;
    content: '';
    left: 0;
    top: -4px;
    bottom: 0;
    width: 32px;
    height: 32px;
    background-color: rgba(214, 215, 218, 0.39);
    border-radius: 50%;
    z-index: 1;
    // transition: transform 0.4s ease;
    
    @include bp('desktop') {
        width: 40px;
        height: 40px;
    }
    
    @include bp('desktop-1200') {
        width: 47px;
        height: 47px;
    }

    &--testimony {
        width: 25px;
        height: 25px;
        background-color: $primary-color;
        
        @include bp('tab'){
            width: 30px;
            height: 30px;
        }
        
        @include bp('desktop'){
            width: 35px;
            height: 35px;
        }
    }

    &--yellow {
        background-color: $primary-color;
    }
}