//Colors
.white {
  color: $w !important;
}

.blk-1f2 {
  color: #1f252b !important;
}

.primary-blue {
  color: $primary-color !important;
}

.primary-color {
  color: $primary-color !important;
}

.bg-blue {
  background-color: $primary-color !important;
}

.bg-white {
  background-color: $w;
}
