[data-aos="reveal-right"] {
  position: relative;

  &::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    background-color: $w;
    transition: transform 0.8s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transform-origin: right;
  }

  transition-property: transform, opacity;

  &.aos-animate {
    &::before {
      transform: scaleX(0);
    }
  }
}