//Footer css
.ls-footer {
    background-color: #fbfbfb;
    padding: 1.56rem 0;

    &--black {
        background-color: rgba(0, 0, 0, 0.89);

        .ls-footer-link {
            li {
                a {
                    color: #fff !important;
                }
            }
        }
    }

    .ls-footer-row {
        flex-direction: column-reverse;
    }

    .logo-container {
        height: 25px;
        width: 25px;
        margin-top: -25px;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    .ls-footer-link {
        margin-bottom: 40px;

        li {
            a {
                font-size: 10px;
                font-family: $fnt-mst;
                font-weight: 500;
                opacity: 0.6;
                color: $black;
                white-space: nowrap;
            }

            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }
        }

    }

    .social-container {
        display: flex;
        width: fit-content;
        float: right;

        li {
            width: 21px;
            height: auto;
            margin-right: 22px;

            &:last-child {
                margin-right: 0;
            }

            img {
                width: 100%;
                object-fit: contain;
            }

            a {
                cursor: pointer;
            }
        }
    }

    @include bp('tab') {
        padding: 2.18rem 0;

        .ls-footer-row {
            flex-direction: row;
        }

        .logo-container {
            margin-top: 0;
            height: 39px;
            width: 39px;
        }

        .ls-footer-link {
            margin-bottom: 0;

            li {
                a {
                    font-size: 14px;
                }
            }

        }

        .social-container {
            li {
                margin-right: 24px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}