//Header stylings
.ls-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    // opacity: 0;
    padding: 18px 0;
    transition: background-color 0.4s ease, transform 0.8s ease;

    @include bp('tab') {
        padding: 25px 35px;
    }

    &--fluid {
        @include bp('tab') {
            padding: 20px 20px;
        }
    }

    &::after {
        position: absolute;
        content: '';
        width: 100%;
        background-color: $white;
        top: 0;
        left: 0;
        right: 0;
        z-index: 0;
        height: 100%;
        opacity: 0;
        transition: opacity 0.4s ease;
    }

    .container {
        position: relative;
        z-index: 2;
    }

    &.inverse {
        background-color: $w;
        box-shadow: 0 2px 12px 0px #e8e8e8;

        // background-color: $w;
        & ::after {
            opacity: 1;
        }
    }

    &.nav-up {
        transform: translateY(-100%);
    }

    &.nav-down {
        transform: translateY(0%);
    }
}

.ls-navtoggler {
    height: 24px;
    width: 24px;
    @extend .btn;
    padding: 0;
    background-color: transparent;
    display: inline-block;
    z-index: 25;
    outline: none;

    span {
        height: 3px;
        display: block;
        border-radius: 4px;
        background-color: $primary-color;
        width: 24px;
        margin: 0 0 6px 0;
        transition: transform 0.5s ease;
    }

    &.is-active {
        span {

            &:nth-child(1) {
                transform: rotate(45deg) translateX(12px);
            }

            &:nth-child(even) {
                visibility: hidden;
            }

            &:nth-child(3) {
                transform: rotate(-45deg) translateX(12px);
            }
        }
    }

    &:focus {
        box-shadow: none;
    }
}

.ls-navactions {
    li {
        margin: 0 10px 0 0;

        &:last-child {
            margin: 0;
        }
    }
}

.ls-header-logo {
    width: 30px;
    height: 30px;
    z-index: 25;
    position: relative;

    @include bp('tab') {
        width: 40px;
        height: 40px;
    }

    @include bp('desktop') {
        width: 50px;
        height: 50px;
    }
}

.ls-mainnav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    transform: translateX(101%);
    transition: all 0.5s ease;
    padding: 80px 30px;

    @media(max-width:575px) {
        overflow-y: auto;
    }

    li {
        margin: 0 0 30px 0;

        @include bp('sm') {
            margin: 0 10px 0 0;
        }

        @include bp('tab') {
            margin: 0 20px 0 0;
        }
    }

    @media (min-width: 576px) {
        height: auto;
        position: static;
        width: 100%;
        background: transparent;
        transform: none;
        padding: 0;
    }

    .dropdown-menu {
        top: 20px !important;
        transform: none !important;
        padding: 20px;
        min-width: auto !important;

        .ls-nav-link {
            margin-bottom: 10px;
            position: relative;

            &:last-child {
                margin-bottom: 0;
            }

        }
    }



    .menu-item {
        position: relative;

        &.active {
            .ls-nav-link {
                color: #01bbff !important;
            }
        }
    }

    .menu-list {
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        transition: all ease 0.5s;
        margin-top: 0px;
        min-width: 160px;

        @media(min-width:576px) {
            position: absolute;
            left: -20px;
        }

        &.show {
            max-height: 400px;
            opacity: 1;
            visibility: visible;
            transition: all ease 0.5s;
            margin-top: 10px;
        }

        ul {
            padding: 15px 15px 15px 20px;
            background: #f9f9f9;

            li {
                margin: 0 0 20px 0 !important;

                &:last-child {
                    margin: 0 !important;
                }
            }

            a {
                font-size: 14px;
                color: #000;
                font-weight: 500;
            }
        }
    }
}

.ls-mainnav.ls-show-menu {
    transform: translateX(0);

    @include bp ("sm") {
        transform: none;
    }
}

.z-99 {
    z-index: 99;
}

.ls-nav-link {
    color: #2d2d2d;
    font-family: $fnt-mst;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    transition: color 0.4s ease;
    cursor: pointer;
    position: relative;

    &:hover {
        color: #000;

        @media(min-width: 1200px) {

            color: $primary-color;
        }
    }

    &::after {
        display: none;
    }

    .menu-arrow {
        img {
            transform: rotate(0deg);
            transition: all ease 0.3s;
            width: 16px;
        }

        @media(max-width:575px) {
            position: absolute;
            top: 7px;
            right: 0;
        }

        &.active {
            img {
                transform: rotate(180deg);
                transition: all ease 0.3s;
            }
        }
    }
}