//Section headings
.section-heading {
  color: $black;
  font-family: $fnt-mst;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0;
  font-size: 27px;
  line-height: 1.3;
  max-width: 700px;

  @media (min-width: 410px) {
    font-size: 30px;
  }

  @include bp("tab") {
    font-size: 30px;
  }

  @include bp("desktop") {
    font-size: 40px;
  }

  @include bp("desktop-1200") {
    font-size: 50px;
  }

  @include bp("desktop-lg") {
    font-size: 60px;
  }

  &--70 {
    font-weight: 700;
    letter-spacing: 1.73px;
    font-size: 34px;
    line-height: 1.2;

    @include bp("tab") {
      font-size: 40px;
    }

    @include bp("desktop") {
      font-size: 50px;
    }

    @include bp("desktop-1200") {
      font-size: 60px;
    }

    @include bp("desktop-lg") {
      font-size: 70px;
    }
  }

  &--see {
    max-width: 320px;
    margin: 0 auto;

    @include bp("tab") {
      max-width: 400px;
      margin: 0 auto 0 auto;
    }

    @include bp("desktop") {
      max-width: 500px;
    }

    @include bp("desktop-1200") {
      max-width: 600px;
    }

    @include bp("desktop-lg") {
      max-width: 700px;
    }
  }

  &--story {
    color: #afafaf;
    margin: 20px 0 20px 0;

    @include bp("tab") {
      font-size: 26px;
      margin: 30px 0 30px 0;
    }

    @include bp("desktop") {
      font-size: 38px;
      margin: 40px 0 30px 0;
    }

    @include bp("desktop-1200") {
      font-size: 50px;
    }

    @include bp("desktop-lg") {
      font-size: 60px;
    }

    strong {
      margin: 0 10px;
      color: #000000;
      display: inline-block;
    }
  }

  &--property {
    color: #afafaf;
    margin: 20px 0 20px 0;
    font-size: 32px;

    @include bp("tab") {
      font-size: 26px;
      margin: 30px 0 30px 0;
    }

    @include bp("desktop") {
      font-size: 38px;
      margin: 40px 0 30px 0;
    }

    @include bp("desktop-1200") {
      font-size: 50px;
    }

    @include bp("desktop-lg") {
      font-size: 60px;
    }

    strong {
      margin: 0 10px;
      color: #000000;
      display: inline-block;
    }
  }
}

.text-center .section-heading {
  margin-left: auto !important;
  margin-right: auto !important;
}

.fnt-bold {
  font-weight: 700;
}