.link {
    &,
    &:hover {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: $primary-color;
        font-family: $fnt-mst;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.42px;
        text-transform: capitalize;

        span {
            margin: 0 5px 0 0;
        }

        @include bp('tab') {
            font-size: 14px;
        }
        
        @include bp('desktop') {
            font-size: 16px;
        }
        
        @include bp('tab') {
            font-size: 18px;
        }

        img {
            transition: transform 1s ease;
        }
    }

    &:hover {
        img {
            transform: translateX(10px);
        }
    }
}