.ls-loader {
    background-color: $w;
    height          : 100%;
    width           : 100%;
    position        : fixed;
    top             : 0;
    left            : 0;
    right           : 0;
    bottom          : 0;
    z-index         : 1000;
    display         : flex;
    align-items     : center;
    justify-content : center;
    opacity         : 1;

    &.is-loaded {
        opacity       : 0;
        pointer-events: none;
        transition    : all 0.3s ease;
    }

    &__logo {
        height: 150px;
        width : 150px;

        @include bp('tab') {
            height: 120px;
            width : 124px;
        }

        @include bp('desktop') {
            height: 300px;
            width : 300px;
        }
    }

    &__text {
        font-family: $fnt-mst;
        font-size  : 2rem;
        color      : $primary-color;
        position   : relative;

        @include bp('tab') {
            font-size: 3rem;
        }

        @include bp('desktop') {
            font-size: 4rem;
        }
    }
}