.rsu-mobilemenu {
    background-color: $primary-color;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: -100%;
    bottom: 0;
    z-index: 1100;
    padding: 90px 20px;
    transition: transform 0.4s ease;

    @include bp('tab') {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        z-index: -1;
    }

    &.show {
        transform: translateX(-100%);
    }

    &__heading {
        color: #ffffff;
        font-family: $fnt-mst;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.33px;
        line-height: 30px;
    }

    &__close-btn {
        @extend .btn;

        position: absolute;
        top: 30px;
        right: 30px;
        background-color: transparent;
        padding: 0;
        
        &:focus {
            outline: none !important;
        }
    }
}

.rsu-mobilemenu-sociallist {
    li {
        margin: 0 45px 0 0;

        &:last-child {
            margin: 0;
        }
    }
}

.rsu-mobilemenu-social-icon {
    width: 45px;
    height: 45px;
}
