//news section css
.ls-news {
    width: 100%;
    border-radius: 8px;
    height: 265px;
    position: relative;
    overflow: hidden ;
    margin-bottom: 25px;

    .img-container {
        height: 100%;
        width: 100%;
        position: relative;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 0 0 14px 14px;
            background-image: linear-gradient(to top, #000000 0%, rgba(0, 0, 0, 0.61) 37%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0) 100%);
            opacity: 0.45;
            bottom: 0;
            left: 0;
        }
    }

    .content-container {
        // padding: 0 1.56rem 2.18rem;
        padding: 0 10px 15px;
        position: absolute;
        bottom: 0;
        left: 0;

        p {
            color: $white;
            font-family: $fnt-mst;
            font-size: 6px;
            font-weight: 500;
            letter-spacing: 0.4px;
            padding-bottom: 10px;
        }

        h3 {
            opacity: 0.92;
            color: $white;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: 0.4px;
            line-height: 1.5;
            font-family: $fnt-mst;
        }
    }

    @include bp('tab') {
        height: 350px;
        margin-bottom: 25px;

        .content-container {
            padding: 0 15px;

            p {
                font-size: 10px;
                letter-spacing: 0.6px;
                padding-bottom: 12px;
            }

            h3 {
                font-size: 16px;
                letter-spacing: 0.5px;
            }
        }
    }

    @include bp('desktop') {
        height: 500px;
        height: 100%;

        margin-bottom: 0;

        .content-container {
            padding: 0 20px 30px;

            p {
                font-size: 14px;
                letter-spacing: 0.6px;
                padding-bottom: 20px;
            }

            h3 {
                font-size: 20px;
                letter-spacing: 0.5px;
            }
        }
    }

    @include bp('desktop-lg') {
        height: 665px;
        height: 100%;

        .content-container {
            padding: 0 25px 35px;

            p {
                font-size: 16px;
                letter-spacing: 1px;
                padding-bottom: 30px;
            }

            h3 {
                font-size: 26px;
                letter-spacing: 0.87px;
            }
        }
    }
}

.ls-news-small {
    .img-container {
        height: 170px;
        width: 100%;
        position: relative;
        border-radius: 8px;
        margin-bottom: 10px;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .content-container {
        h3 {
            font-family: $fnt-mst;
            font-size: 12px;
            font-weight: 600;
            color: $black;
            line-height: 1.5;
            opacity: 0.9;
            letter-spacing: 0.87px;
        }
    }

    margin-bottom: 25px;

    @include bp('tab') {
        .img-container {
            height: 200px;
        }
    
        .content-container {
            h3 {
                font-family: $fnt-mst;
                font-size: 14px;
            }
        }
    
        margin-bottom: 0;
    }

    @include bp('desktop') {
        .img-container {
            height: 150px;
        }
    
        .content-container {
            h3 {
                font-family: $fnt-mst;
                font-size: 14px;
            }
        }
    
        margin-bottom: 0;
    }

    @include bp('desktop-lg') {
        .img-container {
            height: 210px;
        }
    
        .content-container {
            h3 {
                font-family: $fnt-mst;
                font-size: 16px;
            }
        }
    
        margin-bottom: 0;
    }
}

.vertical-align-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}