.h-reveal-w {
	position: relative;
	display: inline-block;
	overflow: hidden;
}

.h-revealer {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: -100%;
	bottom: 0;
	transition: transform 0.4s ease-out;
	background-color: $primary-color;
}