.section {
  position: relative;
  padding: 40px 10px;

  @include bp("desktop") {
    height: 100vh;
    padding: 60px 0 30px 0;
  }

  @include bp("desktop") {
    height: auto;
    padding: 80px 0 0 0;
  }

  @include bp("desktop-1200") {
    padding: 0;
  }

  @include bp("desktop-lg") {
    padding: 120px 0 0 0;
  }

  &--merit-cards {
    padding: 60px 0 60px 0;

    @include bp("tab") {
      padding: 120px 0 150px 0;
    }
  }

  &--support-device {
    padding: 40px 0;
  }

  &--home {
    padding: 0;
  }

  &--p0 {
    padding: 0;
  }

  &--100vh {
    @include bp("desktop") {
      height: 100vh;

      .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &--connects {
    padding: 40px 0 140px 0;

    @include bp("tab") {
      padding: 0 0 80px 0;
    }

    @include bp("desktop") {
      padding: 0 0 120px 0;
    }

    @include bp("desktop") {
      padding: 0 0 140px 0;
    }
  }

  &--story {
    padding: 0 0 100px 0;

    @include bp('tab') {
      padding: 0 50px 100px 25px;
    }

    @include bp('desktop') {
      padding: 0 50px 200px 50px;
    }
  }

  &--feature-cards {
    padding: 50px 0;

    @include bp("tab") {
      padding: 80px 0;
    }
  }

  &--business-story {
    padding: 0 0 100px 0;

    @include bp('tab') {
      padding: 0 50px 20px 25px;
    }

    @include bp('desktop') {
      padding: 120px 50px 20px 50px;
    }
  }

  &--story1 {
    padding: 0 0 50px 0;

    @include bp('tab') {
      padding: 0 50px 100px 25px;
    }

    @include bp('desktop') {
      padding: 0 50px 200px 50px;
    }
  }

  &--placement {
    padding: 0 0 100px 0;
    margin-top: 80px;

    @media (min-width: 410px) {
      padding: 0 0 300px 0;
    }

    @include bp('tab') {
      padding: 0 50px 200px 50px;
    }
  }

  &--mini {
    padding: 0px 0px 40px 0px;
  }

  &--rental {
    padding: 0px 0px 40px 0px;
  }

  &--mini-next {

    .container {
      padding: 30px 0;
      background: #1e1e1e;
      border-radius: 6px;
    }
  }

  &--see {
    padding: 100px 0 60px 0;

    @include bp("desktop") {
      padding: 140px 0 60px 0;
    }
  }

  &--devices {
    padding: 60px 0 40px 0;

    @include bp("tab") {
      padding: 80px 0 60px 0;
    }

    @include bp("desktop") {
      padding: 100px 0 60px 0;
    }

    @include bp("desktop-1200") {
      padding: 120px 0 80px 0;
    }
  }

  &--products {
    padding: 60px 0 40px 0;

    @include bp("tab") {
      padding: 80px 0 60px 0;
    }

    @include bp("desktop") {
      padding: 100px 0 60px 0;
    }

    @include bp("desktop-1200") {
      padding: 120px 0 80px 0;
    }
  }

  &--support {
    padding: 0 20px 20px 20px;

    @include bp("tab") {
      padding: 40px;
    }

    @include bp("desktop") {
      padding: 40px 0 40px 0;
    }
  }

  &--news {
    padding: 0;

    @include bp("tab") {
      padding: 40px;
    }

    @include bp("desktop") {
      padding: 40px 0 40px 0;
    }
  }

  &--about {
    padding: 0;

    @include bp("tab") {
      padding: 40px;
    }

    @include bp("desktop") {
      padding: 40px 0 40px 0;
    }
  }

  &--press {
    padding: 0;

    @include bp("tab") {
      padding: 40px;
    }

    @include bp("desktop") {
      padding: 40px 0 40px 0;
    }
  }

  &--ir {
    padding: 30px 0;

    @include bp("tab") {
      padding: 40px 0;
    }

    @include bp("desktop") {
      padding: 60px 0;
    }
  }

  &--wifi {
    padding: 30px 0;

    @include bp("tab") {
      padding: 40px 0;
    }

    @include bp("desktop") {
      padding: 60px 0;
    }
  }

  &--device_desc {
    padding: 30px 0;

    @include bp("tab") {
      padding: 40px 0;
    }
  }

  &--device-banner {
    background-color: #f7f7f7;
    padding: 30px 0;

    @include bp("desktop") {
      padding: 86px 80px;
    }
  }
}

.line-icon {
  width: 30px;
  height: 30px;
}

.section.section-pad-bottom {
  padding-bottom: 30px;

  @include bp("desktop") {
    padding-bottom: 60px;
  }

  @include bp("desktop-lg") {
    padding-bottom: 70px;
  }
}

.section-desc {
  @include bp("desktop") {
    max-width: 420px;
    margin: 0 auto;
  }
}