.story {
    margin: 0 -15px 0px -15px;
    padding-top: 0px;
    padding-bottom: 25px;

    @include bp('tab') {
        margin: 0 -15px 40px -15px;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    &__content {
        margin: 0 55px 20px 0;

        @media (min-width: 410px) {
            margin: 0 70px 30px 0;
        }

        @include bp('tab') {
            margin: 0 20px 0 0;
        }

        @include bp('desktop') {
            margin: 0 30px 0 0;
        }
    }

    @include bp('tab') {
        padding-bottom: 120px;
        transition: all 0.3s ease;
    }

    .ls-btn {
        font-size: 14px;

        @include bp("tab") {
            font-size: 14px;
        }

        @include bp("desktop") {
            font-size: 18px;
        }
    }

    &__chat-w {
        position: absolute;
        top: 10%;
        left: -20px;
        right: 0;
        width: 90%;
        margin: 0 auto;
        height: auto;
        z-index: 2;
        padding: 10px;
        transition: opacity 1s ease, transform 1s ease;

        @media (min-width: 360px) {
            left: 0;
        }

        @include bp('tab') {
            padding: 15px;
            width: 100%;
            top: 13%;
        }


        @include bp('desktop-1200') {
            width: 90%;
        }
    }

    &__img-w {
        width: 100%;
        height: 450px;
        padding: 0;
        overflow: hidden;

        @include bp('tab') {
            height: 400px;
            max-width: 760px;
            margin: 0 0 0 auto
        }

        @include bp('desktop') {
            height: 520px;
        }

        @include bp('desktop-lg') {
            height: 575px;
            max-width: 100%;
        }

        &.business {
            height: 600px !important;
        }
    }

    &__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &__mobile-img {
        height: auto;
        width: 250px;
        position: absolute;
        bottom: -90%;
        left: 0px;
        transition: all ease 0.7s;

        @media (min-width: 370px) and (min-height: 650px) {
            width: 260px;
        }

        @media (min-width: 410px) {
            bottom: -90%;
            width: 280px;
        }

        @include bp('tab') {
            height: 450px;
            width: 260px;
            bottom: -80%;
            left: auto;
            right: -10px;
        }

        @include bp('desktop') {
            height: 450px;
            width: 260px;
            bottom: -15%;
            right: -60px;
        }

        @include bp('desktop-1200') {
            bottom: -15%;
            right: -65px;
        }

        @include bp('desktop-lg') {
            right: -70px;
            width: auto;
            bottom: -18%;
            height: 550px;
        }

        @include bp('hd') {
            height: 650px;
            bottom: -25%;
            width: auto;
        }

        &--business {
            height: auto;
            width: 220px;
            position: absolute;
            bottom: 15%;
            left: 85px;
            transition: all ease 0.7s;
            z-index: 2;


            @media (min-width: 370px) and (min-height: 650px) {
                width: 196px;
            }

            // @media (min-width: 410px) {
            //     bottom: -90%;
            //     width: 280px;
            // }

            @include bp('tab') {
                height: 420px;
                width: 220px;
                bottom: 15%;
                left: auto;
                right: 66px;
            }

            @include bp('desktop') {
                height: 450px;
                width: 260px;
                bottom: 15%;
                right: 80px;
            }

            @include bp('desktop-lg') {
                right: 150px;
                width: auto;
                bottom: 7%;
                height: 500px
            }

            @include bp('hd') {
                height: 540px;
                bottom: 5%;
                width: auto;
            }
        }
    }

    &--mobile {
        padding: 0 0 350px 0;

        @include bp('tab') {
            padding: 0 0 400px 0;
        }

        .story__img-w {
            height: 330px;

            @include bp('tab') {
                height: 400px;
            }

            @include bp('desktop') {
                height: 520px;
            }

            @include bp('desktop-lg') {
                height: 575px;
            }
        }

        @include bp('desktop') {
            padding: 0 0 160px 0;
        }

        strong {
            display: inline;
        }
    }

    &--part2 {
        padding: 0 0 350px 0;

        @include bp('tab') {
            padding: 0 0 400px 0;
        }
    }

    &--alert,
    &--guest {
        .story__chat-w {
            top: 10%;
            z-index: 3;
            padding: 10px 10px;

            @include bp('tab') {
                width: 100%;
                margin: 0 auto;
            }

            @include bp('desktop-1200') {
                width: 95%;
                margin: 0 auto;
            }
        }

        .story-chats__chat.system {
            .story-chat__msg {
                max-width: 160px;

                @include bp('tab') {
                    max-width: 200px;
                }
            }
        }

        .story__img-w {
            width: auto;
            height: 500px;
            margin: 0 20px;

            @include bp('tab') {
                width: 80%;
                height: 500px;
                margin: 0 auto;
            }

            @include bp('desktop') {
                width: 70%;
                height: 550px;
                margin: 0 auto;
            }

            @include bp('desktop-1200') {
                width: 50%;
            }
        }
    }

    &--alert {
        .story__chat-w {
            top: 10%;

            @include bp('tab') {
                top: 12%;
            }

            @include bp('desktop') {
                top: 25%;
            }
        }

        .story__content {
            margin: 0 35px 40px 0;
        }

        .story-chats__chat {
            margin: 0 0 90px 0;

            &:last-child {
                margin: 0;
            }

            @include bp('desktop') {
                margin: 0 0 40px 0;
            }

            @include bp('desktop-1200') {
                margin: 0 0 80px 0;
            }
        }
    }

    &--google {
        .story__img-w {
            height: 490px;

            @media (min-width: 410px) {
                height: 550px;
            }

            @include bp('tab') {
                height: 500px;
            }

            @include bp('desktop') {
                height: 520px;
            }

            @include bp('desktop-lg') {
                height: 575px;
            }
        }

        .story-chat__msg {
            max-width: 160px;

            @include bp('desktop-1200') {
                max-width: 240px;
            }
        }

        .story__chat-w {
            top: 78%;

            @include bp('tab') {
                top: 70%;
                padding: 0 20px;
            }

            @include bp('desktop') {
                padding: 0 25px;
                top: 65%;
            }

            @include bp('desktop-1200') {
                padding: 0 25px;
                top: 60%;
            }
        }
    }

    &--google-user {
        padding: 0 0 150px 0;

        @include bp('tab') {
            padding: 0 0 300px 0;
        }

        .story__img-w {
            height: 490px;

            @media (min-width: 410px) {
                height: 550px;
            }

            @include bp('tab') {
                height: 500px;
            }

            @include bp('desktop') {
                height: 520px;
            }

            @include bp('desktop-lg') {
                height: 575px;
            }
        }

        .story__chat-w {
            top: 10%;

            @include bp('tab') {
                top: 30%;
            }

            @include bp('desktop') {
                top: 40%;
            }
        }
    }

    &--pet {
        padding: 0 0 300px 0;

        @include bp('tab') {
            padding: 0 0 400px 0;
        }

        .story__content {
            margin: 0 35px 40px 0;
        }
    }

    &--psa {
        //     @media (min-width: 370px) and (min-height: 650px) {
        //         position: absolute;
        //         width   : auto;
        //         height  : auto;
        //         top     : 0;
        //         bottom  : 0;
        //         right   : 0;
        //         left    : 0;
        //     }

        //     @include bp('tab') {
        //         position: absolute;
        //         height  : auto;
        //         width   : 100%;
        //         width   : auto;
        //         left    : auto;
        //         top     : 0;
        //         bottom  : 0;
        //         right   : 0;
        //     }
    }
}

.svg-anim-elem {
    transition: transform 0.6s ease;
}

.story-chats {
    display: block;
    width: 100%;

    &__chat {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0 0 30px 0;

        @include bp('tab') {
            margin: 0 0 25px 0;
        }

        @include bp('desktop') {
            margin: 0 0 30px 0;
        }

        &:last-child {
            margin: 0;
        }

        &.user {
            .story-chat {
                margin: 0 0 0 auto;
            }

            .story-chat__timestamp {
                right: auto;
                left: -40px;
            }
        }

        &.system {
            .story-chat {
                flex-direction: row-reverse;
                margin: 0 auto 0 0;
            }

            .story-chat__msg {
                margin: 0 0 0 10px;

                &::after {
                    right: auto;
                    left: -8px;
                    border-left: 0;
                    border-right: 10px solid $white;
                }

                @include bp('tab') {
                    margin: 0 0 0 20px;
                }
            }
        }
    }

    &--ls {
        .story-chat__msg {
            border-radius: 20px;
            position: relative;
        }

        .story-chats__chat {
            &.user {
                .story-chat__msg {
                    color: $white;
                    position: relative;
                    background-color: $primary-color;

                    &::after {
                        position: absolute;
                        right: 3px;
                        top: 10px;
                        transform: translate(0, -50%) rotate(15deg);
                        content: url('../assets/images/ls-user.svg');
                        border-left-color: transparent;

                    }
                }
            }

            &.system {
                .story-chat__msg {
                    &::after {
                        position: absolute;
                        right: auto;
                        left: -10px;
                        top: 10px;
                        transform: translate(0, -50%) rotate(-5deg);
                        content: url('../assets/images/ls-system.svg');
                        border-right-color: transparent;

                    }
                }
            }
        }
    }
}

.story-chat {
    display: flex;
    position: relative;

    &__msg {
        display: flex;
        align-items: center;
        padding: 8px 12px;
        margin: 0 10px 0 0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13);
        background-color: $white;
        border-radius: 8px;
        position: relative;

        &::after {
            position: absolute;
            content: '';
            right: -8px;
            top: 50%;
            width: 0;
            height: 0;
            transform: translate(0, -50%);
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 10px solid $white;
        }

        @include bp('tab') {
            margin: 0 20px 0 0;
        }

        @include bp('tab') {
            padding: 10px 18px;
        }
    }

    &__content {
        color: currentColor;
        font-family: $fnt-mst;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.14px;
        line-height: 1.6;

        a {

            &,
            &:hover {
                color: $primary-color;
            }
        }
    }

    &__img {
        height: 40px;
        width: 40px;
        border-radius: 50%;

        @include bp('tab') {
            height: 45px;
            width: 45px;
        }
    }

    &__timestamp {
        color: #ffffff;
        font-family: $fnt-mst;
        font-size: 8px;
        font-weight: 600;
        letter-spacing: 0.07px;
        text-transform: uppercase;
        position: absolute;
        right: -40px;
        bottom: 0;

        &.system-response {
            right: -72px;
            bottom: 4px;

            @include bp('tab') {
                right: -40px;
            }
        }
    }
}

.story-systemslist {
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0 25px;

    @media (min-width: 410px) {
        top: 130px;
    }

    @include bp('desktop') {
        max-width: 470px;
        padding: 0 50px;
    }

    @include bp('desktop-1300') {
        top: 40px;
        max-width: 540px;
        padding: 0 0 0 90px;
    }

    &__system {
        display: flex;
        margin: 0 0 20px 0;

        &:nth-child(even) {
            .story-systems {
                margin: 0 0 0 auto;

                @include bp('desktop-1200') {
                    margin: 20px 0 0 auto;
                }
            }
        }
    }
}

.story-systems {
    display: flex;
    align-items: center;

    li {
        margin: 0 10px 0 0;
        padding: 0 10px 0 0;
        border-right: 1px solid #e8e8e8;

        &:last-child {
            margin: 0;
            border: none;
        }
    }
}

.story-system {
    display: flex;
    align-items: center;

    img {
        height: 14px;
        width: 14px;
        margin: 0 5px 0 0;
    }

    p {
        color: #000000;
        font-family: $fnt-mst;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0.02px;
    }
}

.story-wrapper {
    position: relative;

    // @media (min-width: 370px) and (min-height: 650px) {
    //     height: 480px;
    // }

    // .scrollmagic-pin-spacer {
    //     margin: 0 auto !important;
    // }

    // @media (min-width: 410px) {
    //     height: 510px;
    // }

    // @include bp('desktop') {
    //     height: 520px;
    // }

    // @include bp('desktop-lg') {
    //     height: 575px;
    // }
}

.story-light {
    position: absolute;
    top: 40px;
    left: 2px;
    height: auto;

    @media (min-width: 370px) {
        top: 30px;
        left: 29px;
    }

    @media (min-width: 400px) {
        top: 38px;
        left: 28px;
    }

    @include bp('tab') {
        top: 66px;
        left: 2px;
    }

    @media (min-width: 1024px) {
        top: 70px;
        left: 80px;
    }

    @include bp('desktop') {
        left: 85px;
    }

    @include bp('desktop-1200') {
        left: 140px;
    }

    @media (min-width: 1260px) {
        left: 165px;
    }

    @media (min-width: 1280px) {
        left: 172px;
    }

    @media (min-width: 1366px) {
        left: 172px;
    }

    @include bp('desktop-lg') {
        left: 187px;
        top: 78px;
    }

    @include bp('hd') {
        left: 200px;
        top: 74px;
    }
}

.story-device-w {
    position: absolute;
    bottom: 110px;
    right: 50px;
    height: auto;

    @media (min-width: 410px) {
        bottom: 125px;
        right: 55px;
    }

    @include bp('tab') {
        bottom: 190px;
        right: 166px;
    }

    @include bp('desktop') {
        bottom: 180px;
        right: 250px;
    }

    @include bp('desktop-1200') {
        bottom: 180px;
        right: 320px;
    }

    @include bp('desktop-lg') {
        bottom: 210px;
        right: 370px;
    }

    @include bp('hd') {
        right: 385px;
    }
}

.story-device {
    position: relative;
    z-index: 2;
}

@mixin circle($circleSize) {
    width: $circleSize;
    height: $circleSize;
    border-radius: $circleSize/2;
}

/* pulse in CSS */
.device-pulse {
    @include circle(20px);
    background: $primary-color;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);

    &:before,
    &:after {
        content: "";
        @include circle(20px);
        background-color: $primary-color;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        transform: scale(0.5);
        transform-origin: center center;
        animation: pulse-me 2s linear infinite;
    }

    &:after {
        animation-delay: 1s;
    }
}

@keyframes pulse-me {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    50% {
        opacity: 0.1;
    }

    70% {
        opacity: 0.09;
    }

    100% {
        transform: scale(5);
        opacity: 0;
    }
}


//story info css
.story-info {
    background-color: #f3f3f3;
    border-radius: 8px;
    padding: 20px;
    min-width: 260px;
    max-width: 355px;

    @media (min-width: 360px) {
        min-width: 280px;
    }

    @include bp("tab") {
        min-width: 355px;
    }

    &__title-w {
        position: relative;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        color: #000000;
        font-family: $fnt-mst;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.92px;


        @include bp("desktop") {
            font-size: 22px;
        }
    }

    &__line {
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 50px;
        height: 2px;
        background-color: #01bbff;
    }

    &__desc-w {
        position: relative;
        display: flex;
    }

    &__desc {
        color: #000000;
        font-family: $fnt-mst;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.67px;

        @include bp("desktop") {
            font-size: 16px;
        }
    }

    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        display: flex;
        margin-right: 22px;
        align-items: center;

        &:last-child {
            margin-right: 0;
        }
    }

    &__img-s {
        height: 20px;
        width: 20px;
        object-fit: contain;
        margin-right: 10px;
    }

    &__img-b {
        height: 36px;
        width: 36px;
        object-fit: contain;
    }
}