.fab-navigator.d-none
  a(href="javascript:void(0);")
    .d-flex.align-items-center
      .fab-navigator__desc
        p.title We're Online!
        p.desc How can i help you?
      .fab-navigator__img
        img(src="./assets/images/business/fab.svg" alt="FAB")
