section.section.section--see
    .container.container--1350
        .row
            .col-12.col-sm-8.offset-sm-2.text-center
                h2.section-heading.section-heading--story(data-aos="fade-down")
                    | See
                    strong what is possible
                    | with LiveSmart.
            .col-12
                .position-relative(data-aos="fade-right" data-aos-offset="300")
                    img.img-fluid.see-product-img(src="./assets/images/see-img.svg")