section.section.section--story
    .container.container--1350

        .story-wrapper

            .row.story.story--google-user.mb-0.js-part1
                .col-md-4.col-lg-4.text-md-right
                    .story__content
                        h3.section-heading.section-heading--story
                            | You just reached
                            strong.m-0.mx-sm-0 home
                .col-md-8.col-lg-8.p-0
                    .story__img-w
                        .story__chat-w
                            ul.story-chats
                                li.story-chats__chat.user
                                    .story-chat
                                        .story-chat__msg
                                            p.story-chat__content OK Google! I am home
                                        img.story-chat__img(src="./assets/images/user.png" alt="user")

                        img.story__img#story1-img(
                            data-img320="./assets/images/stories/1/320.png"
                            data-img360="./assets/images/stories/1/320.png"
                            data-img600="./assets/images/stories/1/1200.png"
                            data-img767="./assets/images/stories/1/1200.png"
                            data-img1200="./assets/images/stories/1/1200.png"
                            data-img1440="./assets/images/stories/1/1200.png"
                            src="./assets/images/stories/1/320.png" alt="Story 1")

            .row.story.story--psa.story--google.p-0.mb-0.js-part2
                .col-md-4.col-lg-4.text-sm-right
                    .story__content
                        h3.section-heading.section-heading--story
                            | Your home is ready for
                            strong.mr-sm-0 you
                .col-md-8.col-lg-8.p-0
                    .story__img-w
                        ul.story-systemslist
                            li.story-systemslist__system
                                ul.story-systems
                                    li
                                        .story-system
                                            img(src="./assets/icons/sun.svg" alt="sun")
                                            p 60%
                                    li
                                        .story-system
                                            img(src="./assets/icons/thermo.svg" alt="thermostat")
                                            p 10°
                            li.story-systemslist__system
                                ul.story-systems
                                    li
                                        .story-system
                                            img(src="./assets/icons/cold.svg" alt="cold")
                                            p 25°
                                    li
                                        .story-system
                                            img(src="./assets/icons/fan.svg" alt="fan")
                                            p 2
                                    li
                                        .story-system
                                            img(src="./assets/icons/air.svg" alt="air")
                                            p OFF
                        .story__chat-w
                            ul.story-chats
                                li.story-chats__chat.system
                                    .story-chat
                                        .story-chat__msg
                                            p.story-chat__content Ok. “I am home” turned on.
                                        img.story-chat__img.border-none(src="./assets/images/google-assistant.svg" alt="google")
                        img.story-light(src="./assets/images/stories/2/light.svg" alt="")
                        img.story__img#story2-img(
                            data-img320="./assets/images/stories/2/mobile.png"
                            data-img360="./assets/images/stories/2/mobile.png"
                            data-img600="./assets/images/stories/2/desktop.png"
                            data-img767="./assets/images/stories/2/desktop.png"
                            data-img1200="./assets/images/stories/2/desktop.png"
                            data-img1440="./assets/images/stories/2/desktop.png"
                            src="./assets/images/stories/2/mobile.png" alt="Story 2")
                        .story-device-w
                            img.story-device(src="./assets/images/stories/2/device.svg" alt="")
                            .device-pulse