section.section.section--story.pb-0.js-window
    .container.container--1350
        .row.story.story--mobile
            .col-sm-4.col-lg-4.text-sm-right
                .story__content.mr-0.mr-sm-4
                    h3.section-heading.section-heading--story(data-aos="fade" data-aos-offset="300")
                        strong.ml-0 Check
                        | who opened the window.
                    a(href="javascript:void(0);" data-aos="fade").ls-btn.ls-btn--story
                        | Know More
            .col-sm-8.col-lg-8.p-0
                .story__img-w(
                    data-aos="fade"
                    data-aos-offset="200"
                )
                    img.story__img#story9-img(
                        data-img320="./assets/images/stories/9/mobile.png"
                        data-img360="./assets/images/stories/9/mobile.png"
                        data-img600="./assets/images/stories/9/desktop.png"
                        data-img767="./assets/images/stories/9/desktop.png"
                        data-img1200="./assets/images/stories/9/desktop.png"
                        data-img1440="./assets/images/stories/9/desktop.png"
                        src="./assets/images/stories/9/mobile.png"
                        alt="Story 8")
                    img.story__mobile-img.js-part1-mobile(
                        src="./assets/images/mobile/5.svg"
                        alt="adapt"
                        data-aos="fade-up")