section.section.section--story
    .container.container--1350
        .story-wrapper
            .row.story.story--alert
                .col-sm-4.col-lg-4.text-sm-right
                    .story__content
                        h3.section-heading.section-heading--story
                            | Get an alert if
                            strong.d-inline unusual activity
                        a(href="javascript:void(0);").ls-btn.ls-btn--story
                            | Chat in Natural Language
                .col-sm-8.col-lg-8.p-0
                    .story__img-w.position-relative
                        .story__chat-w
                            ul.story-chats.story-chats--ls
                                li.story-chats__chat.system
                                    .story-chat
                                        .story-chat__msg
                                            p.story-chat__content “Window Sensor” Open
                                        img.story-chat__img(src="./assets/images/chat-ls.svg" alt="user")
                                        p.story-chat__timestamp 10:00 AM
                                li.story-chats__chat.user
                                    .story-chat
                                        .story-chat__msg
                                            p.story-chat__content Can i see camera
                                        p.story-chat__timestamp 10:00 AM
                                li.story-chats__chat.system
                                    .story-chat
                                        .story-chat__msg
                                            p.story-chat__content
                                                | Camera took a 10 sec video. Check
                                                a(href="javascript:void(0);").mx-1.d-inline-block here
                                        p.story-chat__timestamp 10:00 AM
                                        img.story-chat__img(src="./assets/images/chat-ls.svg" alt="user")
                        .black-gradient
                        img.story__img(
                            src="./assets/images/stories/8/mobile.png"
                            alt="Story 8")
