section.section.section--story
    .container.container--1350
            .story-wrapper
                .row.story.story--guest
                    .col-sm-4.col-lg-4.text-sm-right
                        .story__content
                            h3.section-heading.section-heading--story
                                | Guests can use
                                strong.d-inline without App
                            a(href="javascript:void(0);").ls-btn.ls-btn--story.d-inline-flex.align-items-center
                                | Use the LS Bot from
                                //- img.line-icon.ml-2(src="./assets/icons/line.svg" alt="line")
                                img.line-icon.ml-2(src="./assets/icons/play.svg" alt="play")
                    .col-sm-8.col-lg-8.p-0
                        .story__img-w.position-relative
                            .story__chat-w
                                ul.story-chats.story-chats--ls
                                    li.story-chats__chat.system
                                        .story-chat
                                            .story-chat__msg
                                                p.story-chat__content Welcome Julie
                                            img.story-chat__img(src="./assets/images/chat-ls.svg" alt="user")
                                            p.story-chat__timestamp 10:00 AM
                                    li.story-chats__chat.system
                                        .story-chat
                                            .story-chat__msg.no-pseudo.p-0.bg-transparent.boxshadow-none.border-none
                                                img(src="./assets/images/system-msg.svg" alt="")
                                            img.story-chat__img.op-0(src="./assets/images/chat-ls.svg" alt="user")
                                            p.story-chat__timestamp.system-response 10:00 AM
                                    li.story-chats__chat.user
                                        .story-chat
                                            .story-chat__msg
                                                p.story-chat__content Open Door
                                            p.story-chat__timestamp 10:00 AM
                                    li.story-chats__chat.system
                                        .story-chat
                                            .story-chat__msg
                                                p.story-chat__content Executing Open Door
                                            img.story-chat__img(src="./assets/images/chat-ls.svg" alt="user")
                                            p.story-chat__timestamp 10:00 AM
                            .black-gradient
                            img.story__img(src="./assets/images/stories/6/6.png" alt="Story 6")