section.section.section--devices
    .container
        .row
            .col-12.text-center
                h2.section-heading.section-heading--devices.mb-4.mb-xl-5(data-aos="fade-down") Supported Devices
            .col-sm-5.col-lg-6
                .device-img-container.mx-auto
                    img.w-100(src="./assets/images/products/ww1.png", alt="device" data-aos="fade-right")
            .col-sm-7.col-lg-6
                .devices.px-2.mt-sm-3.mt-lg-4.pt-lg-2
                    h5.devices-title(data-aos="fade-down") IR Appliances
                    ul.devices-list(data-aos="fade-up")
                        li.devices-list__item(data-aos="fade-up")
                            .img-container
                                img(src="./assets/images/devices/ac.svg", alt="ac")
                            p  AC
                        li.devices-list__item(data-aos="fade-up")
                            .img-container
                                img(src="./assets/images/devices/tv.svg", alt="tv")
                            p  TV
                        li.devices-list__item(data-aos="fade-up")
                            .img-container
                                img(src="./assets/images/devices/light.svg", alt="light")
                            p  Ceiling Light
                        li.devices-list__item(data-aos="fade-up")
                            .img-container
                                img(src="./assets/images/devices/fan.svg", alt="fan")
                            p  Fan
                        li.devices-list__item(data-aos="fade-up")
                            .img-container
                                img(src="./assets/images/devices/remote.svg", alt="remote")
                            p  Create any custom remote

                    h5.devices-title(data-aos="fade-up") Smart Devices
                    ul.devices-list
                        li.devices-list__item(data-aos="fade-up")
                            .img-container
                                img(src="./assets/images/devices/push.svg", alt="push")
                            p  LS Push
                        li.devices-list__item(data-aos="fade-up")
                            .img-container
                                img(src="./assets/images/devices/lock.svg", alt="lock")
                            p  Sesame Lock

                    .d-sm-flex.align-items-center.mb-4
                        h5.devices-title.mr-3.mr-lg-4.mb-3(data-aos="fade-up")
                            | Wi-Fi Devices that work with
                        .d-flex.align-items-center
                            .text-center.mr-3.mr-lg-4(data-aos="fade-up")
                                img.smart-icon(src="./assets/icons/tuya.png" alt="")
                                p.smart-title tuya smart
                            .text-center(data-aos="fade-up")
                                img.smart-icon(src="./assets/icons/smart-life.png" alt="")
                                p.smart-title smart life
                    ul.devices-list
                        li.devices-list__item(data-aos="fade-up")
                            .img-container
                                img(src="./assets/images/devices/socket.svg", alt="plug")
                            p Smart Socket
                        li.devices-list__item(data-aos="fade-up")
                            .img-container
                                img(src="./assets/images/devices/bulb.svg", alt="bulb")
                            p LED Bulb
                        li.devices-list__item(data-aos="fade-up")
                            .img-container
                                img(src="./assets/images/devices/camera.svg", alt="cam")
                            p Camera

                    h5.devices-title(data-aos="fade-up") Other Devices
                    ul.devices-list
                        li.devices-list__item(data-aos="fade-up")
                            .img-container
                                img(src="./assets/images/devices/philips.svg", alt="philips")
                            p  Philips Hue
                        li.devices-list__item(data-aos="fade-up")
                            .img-container
                                img(src="./assets/images/devices/beseye.svg", alt="webcam")
                            p  Beseye Camera

