section.section.section--support
    .container
        .row.m-0
            .col-12
              h1.support-device-title Supported Devices

section.section.section--ir.ir-device
    .container.container--1350
        .row.m-0
            .col-12.px-0
                h3.ir-device__title IR Devices
                p.ir-device__desc <span>Any IR</span> Appliance works with LS hub or Mini. You can <a href="#" class="link">download</a> the IR remote or <a href="#" class="link">pair it</a> using the physical remote.
        .row.m-0.ir-device__cards.mt-3.mt-md-5
            .col-6.col-lg-4.col-xl-3.mb-3.mb-md-5
                .card.device-card
                    .device-card-content
                        picture
                            source(media='(max-width: 767px)', srcset='./assets/images/supported-device/ceiling-light-mobile.svg')
                            img.test-img(src='./assets/images/supported-device/ceiling-light.svg', alt='ceiling light')
                    p.ir-device__name Ceiling Fan
                    .device-card-overlay
                        .d-flex.justify-content-center.align-items-start.h-100.flex-column
                            p.white.device-card-overlay__desc LS supports are more than 1000 models.
                            a.ls-btn.ls-btn--white.white.mt-3  Check List

            .col-6.col-lg-4.col-xl-3.mb-3.mb-md-5
                .card.device-card
                    .device-card-content
                        //- img(src="./assets/images/supported-device/tv.svg" alt="tv")
                        picture
                            source(media='(max-width: 767px)', srcset='./assets/images/supported-device/tv-mobile.svg')
                            img(src='./assets/images/supported-device/tv.svg', alt='TV')
                    p.ir-device__name TV
                    .device-card-overlay
                        .d-flex.justify-content-center.align-items-start.h-100.flex-column
                            p.white.device-card-overlay__desc LS supports are more than 1000 models.
                            a.ls-btn.ls-btn--white.white.mt-3 Check List
            .col-6.col-lg-4.col-xl-3.mb-3.mb-md-5
                .card.device-card
                    .device-card-content
                        picture
                            source(media='(max-width: 767px)', srcset='./assets/images/supported-device/fan-mobile.svg')
                            img(src='./assets/images/supported-device/fan.svg', alt='fan')
                    p.ir-device__name Fan
                    .device-card-overlay
                        .d-flex.justify-content-center.align-items-start.h-100.flex-column
                            p.white.device-card-overlay__desc LS supports are more than 1000 models.
                            a.ls-btn.ls-btn--white.white.mt-3 Check List
            .col-6.col-lg-4.col-xl-3.mb-3.mb-md-5
                .card.device-card
                    .device-card-content
                        picture
                            source(media='(max-width: 767px)', srcset='./assets/images/supported-device/ac-mobile.svg')
                            img(src='./assets/images/supported-device/ac.svg', alt='AC')
                    p.ir-device__name AC
                    .device-card-overlay
                        .d-flex.justify-content-center.align-items-start.h-100.flex-column
                            p.white.device-card-overlay__desc LS supports are more than 1000 models.
                            a.ls-btn.ls-btn--white.white.mt-3 Check List
            .col-6.col-lg-4.col-xl-3.mb-3.mb-md-5
                .card.device-card
                    .device-card-content
                        picture
                            source(media='(max-width: 767px)', srcset='./assets/images/supported-device/remote-mobile.svg')
                            img(src='./assets/images/supported-device/remote.svg', alt='AC')
                    p.ir-device__name Creat a Custom Remote
                    .device-card-overlay
                        .d-flex.justify-content-center.align-items-start.h-100.flex-column
                            p.white.device-card-overlay__desc LS supports are more than 1000 models.
                            a.ls-btn.ls-btn--white.white.mt-3 Check List
                            
        .d-flex.w-100.justify-content-center.mt-4.mt-md-0
            a(href="javascript:void(0);").ls-btn.js-showmore
                | Show More
            



