section.section.section--wifi.wifi-device
    .container.container--1350
        .row.m-0
            .col-12
                h3.wifi-device__title Wi-Fi & Smart Devices List 

        .row.m-0.ir-device__cards.mt-3.mt-md-5
            .col-6.col-lg-4.col-xl-3.mb-3.mb-md-5
                a.card.device-card(href="device-detail.html")
                    .device-card-content
                        picture
                            source(media='(max-width: 767px)', srcset='./assets/images/supported-device/beseye-mobile.svg')
                            img(src='./assets/images/supported-device/beseye.svg', alt='Beseye')
                    p.ir-device__name Beseye Camera
                    //- .device-card-overlay
                    //-     .d-flex.justify-content-center.align-items-start.h-100.flex-column
                    //-         p.white.device-card-overlay__desc LS supports are more than 1000 models.
                    //-         a.ls-btn.ls-btn--white.white.mt-3(href="device-detail.html") Check List
            .col-6.col-lg-4.col-xl-3.mb-3.mb-md-5
                a.card.device-card(href="device-detail.html")
                    .device-card-content
                        picture
                            source(media='(max-width: 767px)', srcset='./assets/images/supported-device/smart-lock-mobile.svg')
                            img(src='./assets/images/supported-device/smart-lock.svg', alt='smart lock')
                    p.ir-device__name Smart Lock
                    //- .device-card-overlay
                    //-     .d-flex.justify-content-center.align-items-start.h-100.flex-column
                    //-         p.white.device-card-overlay__desc LS supports are more than 1000 models.
                    //-         a.ls-btn.ls-btn--white.white.mt-3(href="device-detail.html") Check List
            .col-6.col-lg-4.col-xl-3.mb-3.mb-md-5
                a.card.device-card(href="device-detail.html")
                    .device-card-content
                        picture
                            source(media='(max-width: 767px)', srcset='./assets/images/supported-device/smart-camer-mobile.svg')
                            img(src='./assets/images/supported-device/smart-camer.svg', alt='smart camer')
                    p.ir-device__name Smart Camera
                    //- .device-card-overlay
                    //-     .d-flex.justify-content-center.align-items-start.h-100.flex-column
                    //-         p.white.device-card-overlay__desc LS supports are more than 1000 models.
                    //-         a.ls-btn.ls-btn--white.white.mt-3(href="device-detail.html") Check List
            .col-6.col-lg-4.col-xl-3.mb-3.mb-md-5
                a.card.device-card(href="device-detail.html")
                    .device-card-content
                        picture
                            source(media='(max-width: 767px)', srcset='./assets/images/supported-device/smart-bulb-mobile.svg')
                            img(src='./assets/images/supported-device/smart-bulb.svg', alt='smart-bulb')
                    p.ir-device__name Smart Bulb
                    //- .device-card-overlay
                    //-     .d-flex.justify-content-center.align-items-start.h-100.flex-column
                    //-         p.white.device-card-overlay__desc LS supports are more than 1000 models.
                    //-         a.ls-btn.ls-btn--white.white.mt-3(href="device-detail.html") Check List
        .d-flex.w-100.justify-content-center.mt-4.mt-md-0
            a(href="javascript:void(0);").ls-btn.js-showmore
                | Show More
