/*
Color Codes
*/
$primary-color: #01bbff;
$black: #000000;
$grey: #7a7a7a;
$white: #ffffff;


/*
  Media Query Breakpoints
*/
$xs: 320px;
$sm: 576px;
$lg: 992px;
$tab: 767px;
$xl: 1200px;
$sxl: 1600px;
$xxl: 1900px;
$desktop: 1024px;
$desktop-lg: 1440px;

$w: #ffffff;

/*
Easing
*/
$ease: cubic-bezier(.19,1,.22,1);

/*
 Media Query Breakpoints end
*/

//Font variables
$fnt-mst: 'Montserrat', sans-serif;
$fnt-noto: 'Noto Sans', sans-serif;
$fnt-noto-tc: 'Noto Sans TC', sans-serif;

/*
 Colors
*/

$grey-7a: #7a7a7a;

$box-shadow: 0 0 6px 2px #f5f5f5;
