.add-speaker {
    padding: 20px 10px;
    background-color: #000000;

    @include bp('tab') {
        margin: 20px 0;
        padding: 20px 60px;
    }

    @include bp('desktop') {
        margin: 25px 0;
        padding: 25px 80px;
    }

    @include bp('desktop-1200') {
        padding: 25px 100px;
    }

    &--offer {
        padding: 20px;

        @include bp('desktop-1200') {
            padding: 40px 100px;
        }
    }

    &__heading {
        color: $white;
        font-family: $fnt-mst;
        font-weight: 700;
        letter-spacing: 0.75px;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;

        @include bp('tab') {
            font-size: 20px;
            line-height: 24px;
            margin: 0 20px 0 0;
        }

        @include bp('desktop') {
            font-size: 24px;
            line-height: 28px;
        }

        @include bp('desktop-1200') {
            font-size: 32px;
            line-height: 34px;
        }

        &--offer {
            font-size: 24px;

            @include bp('tab') {
                font-size: 40px;
                line-height: 45px;
            }

            @include bp('desktop') {
                font-size: 60px;
                line-height: 70px;
            }
        }
    }

    &__desc {
        color: $white;
        font-family: $fnt-mst;
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 1px;

        @include bp('tab') {
            font-size: 14px;
        }

        @include bp('desktop') {
            font-size: 16px;
        }

        @include bp('desktop-1200') {
            font-size: 18px;
        }
    }
}