.connects-list {
    max-width: 50%;
    margin: 0 auto;

    @include bp('tab') {
        max-width: 100%;
        display: flex;
        justify-content: space-between;
    }

    li {
        margin: 0 0 60px 0;

        &:last-child {
            margin: 0;
        }
    }
}

.connect {
    padding: 40px 20px;
    border-radius: 13px;
    background-color: $white;
    box-shadow: 0 0 17px 13px #f5f5f5;
    text-align: center;

    @include bp('tab') {
        padding: 24px;
        min-width: 170px;
        margin: 0 20px;
    }

    @include bp('desktop') {
        padding: 34px 28px;
        min-width: 230px;
    }

    @include bp('desktop-1200') {
        padding: 44px 32px;
    }

    &__img {
        height: 78px;
        width: 75px;
        margin: 0 0 30px 0;

        @include bp('tab') {
            height: 60px;
            width: 60px;
            margin: 0 0 40px 0;
        }

        @include bp('desktop') {
            height: 75px;
            width: 75px;
            margin: 0 0 50px 0;
        }

        @include bp('desktop-1200') {
            height: 96px;
            width: 96px;
            margin: 0 0 60px 0;
        }
    }

    &__title {
        opacity: 0.9;
        color: #000000;
        font-family: $fnt-mst;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.7px;
        line-height: 24.3px;
        text-transform: capitalize;
        max-width: 80px;
        margin: 0 auto;

        @include bp('tab') {
            max-width: 100%;
            font-size: 18px;
        }
    }
}