//supported devices css
.devices-title {
    color: $black;
    font-family: $fnt-mst;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.51px;
    margin-bottom: 25px;
}

.devices-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 60px;

    @include bp('tab') {
        justify-content: flex-start;
    }

    &__item {
        width: 48%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0 0 40px 0;

        @include bp('tab') {
            width: 30%;
            margin: 0 20px 40px 0;
        }

        @include bp('desktop') {
            width: 28%;
            margin: 0 20px 40px 0;
        }

        .img-container {
            width: 55px;
            height: 55px;
            margin-right: 20px;

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
                object-position: center;
            }
        }

        p {
            color: $black;
            font-family: $fnt-mst;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0.33px;
        }
    }
}

.device-img-container {
    width: 220px;
    height: 220px;
    margin: 0 0 40px 0;

    @include bp('tab') {
        width: 100%;
    }
}

.smart-icon {
    width: 35px;
    height: 35px;
}

.smart-title {
    opacity: 0.7;
    color: #000000;
    font-family: $fnt-mst;
    font-size: 5px;
    font-weight: 500;
    letter-spacing: 0.32px;
    line-height: 17.82px;
}