.mini-product-img {
    width: 100%;
    height: auto;
}

.knowmore-img {
    width: 100%;
    background-color: #070e13;

    position: relative;

    .mini-product-img {
        height: 400px;
        object-fit: contain;

        @include bp("tab") {
            // height: auto;
        }
    }


    &::before {
        content: "";
        position: absolute;
        background-color: #000;
        opacity: 0.6;
        width: 100%;
        height: 100%;
    }
}

.business-banner-img {
    width: 100%;
    height: 600px;
    object-fit: cover;

    @include bp("tab") {
        height: auto;
    }
}

.mini-heading {
    text-align: center;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;

    @include bp('tab') {
        left: 30px;
        text-align: left;
    }

    @include bp('desktop') {
        left: 30px;
        top: 100px;
    }

    @include bp('desktop-1200') {
        left: 50px;
        top: 150px;
    }
}

.mini-feature-icon {
    height: 20px;
    width: auto;

    &.play {
        height: 18px;
        width: auto;

        @include bp('desktop') {
            height: 17px;
        }
    }
}

.mini {

    &__title {
        color: #000000;
        font-family: $fnt-mst;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.42px;

        @include bp('tab') {
            font-size: 18px;
        }
    }

    &__detail {
        display: flex;
        align-items: center;

        span {
            margin: 0 5px;
        }
    }

    &__icon {
        width: 45px;
        height: 45px;
        margin: 0 20px 0 0;

        @include bp('desktop-1200') {
            width: 55px;
            height: 55px;
        }
    }
}

.mini-details-list {
    margin: 40px 0 0 15px;

    @include bp('desktop-1200') {
        margin: 40px 0 0 35px;
    }

    li {
        margin: 0 0 40px 0;

        @include bp('tab') {
            margin: 0 0 20px 0;
        }

        @include bp('desktop') {
            margin: 0 0 30px 0;
        }

        @include bp('desktop-1200') {
            margin: 0 0 40px 0;
        }
    }
}

.mini-features-list {
    display: flex;
    margin: 10px 0 0 0;

    li {
        margin: 0 20px 0 0;
    }
}

.mini-content-w {
    @include bp('tab') {
        margin: -310px 0 0 0;
    }

    @include bp('desktop') {
        margin: -340px 0 0 0;
    }

    @include bp('desktop-1200') {
        margin: -380px 0 0 0;
    }
}