.product {
    text-align: center;
    position: relative;
    padding: 0 0 30px 0;
    width: 85%;

    @include bp('desktop') {
        padding: 0 0 40px 0;
        width: 90%;
    }

    @include bp('desktop-1200') {
        padding: 0 0 50px 0;
        width: 100%;
    }

    &__img {
        height: 127px;
        transform: scale(0.8);
        position: relative;
        transition: transform 0.4s ease;

        @include bp('tab') {
            height: 100px;
        }

        @include bp('desktop') {
            height: 120px;
        }

        @include bp('desktop-1200') {
            height: 160px;
        }
    }

    &__img-w {
        position: relative;
        z-index: 2;
        padding: 10px 0;

        @include bp('desktop-1200') {
            padding: 20px 0;
        }

        &:after {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            border-radius: 10px;
            top: 0;
            left: 0;
            right: 0;
            opacity: 0;
            background-color: #f7f7f7;
            z-index: 1;
            transform-origin: top;
            transition: transform 0.4s ease, opacity 0.4s ease;

            @include bp('tab') {
                opacity: 0.2;
            }
        }
    }

    &__title {
        color: #000000;
        font-family: $fnt-mst;
        position: relative;
        z-index: 2;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.52px;
        margin: 20px 0;
        transform: scale(0.8);
        transition: transform 0.4s ease;

        @include bp('tab') {
            margin: 60px 0 20px 0;
            font-size: 18px;
        }

        @include bp('desktop') {
            margin: 70px 0 20px 0;
            font-size: 20px;
        }

        @include bp('desktop-1200') {
            font-size: 22px;
        }
    }

    &__price {
        margin: 0 0 20px 0;
        position: relative;
        z-index: 2;
        opacity: 0.6;
        color: #000000;
        font-family: $fnt-mst;
        font-size: 12px;
        font-weight: 400;
        transition: opacity 0.4s ease, transform 0.4s ease;
        letter-spacing: 0.33px;
        transform: scale(0.8);

        @include bp('tab') {
            font-size: 14px;
        }

        @include bp('desktop') {
            font-size: 16px;
        }
    }

    &:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 84%;
        top: 0;
        left: 0;
        right: 0;
        background-color: #f4f4f4;
        z-index: 1;
        opacity: 1;
        border-radius: 10px;
        transition: transform 0.4s ease;
        transform-origin: top;

        @include bp('desktop') {
            height: 80%;
            opacity: 0;
            transform: translateY(10px) scaleY(0.7);
        }
    }

    &__content {
        position: relative;
        z-index: 2;
    }

    .ls-btn {
        &,
        &:hover {
            opacity: 0;
            transform: translateY(-10px);
            transition: all 0.4s ease;
        }
    }

    &:hover {

        .product__img-w:after {
            opacity: 0;
            transform: translateY(50%);
        }

        &::after {
            @include bp('tab') {
                opacity: 1;
                transform: translateY(90px) scale(1);
            }
        }

        .product__img {
            transform: scale(1);
        }

        .product__price {
            opacity: 1;
            transform: scale(1);
            font-weight: 500;
        }

        .product__title {
            transform: scale(1);
        }

        .ls-btn {
            &,
            &:hover {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}

.products-swiper {

    @include bp('tab') {
        margin-left: auto;
        overflow: visible !important;
    }

    @include bp('desktop') {
        overflow: hidden !important;
    }

    .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .swiper-slide-active {

        .product {
            &::after {
                opacity: 1;
                transform: translateY(50px) scale(1);
            }
        }

        .product__img {
            transform: scale(1);
        }

        .product__img-w:after {
            opacity: 0;
        }

        .product__price {
            opacity: 1;
            font-size: 16px;
            font-weight: 500;
        }

        .product__title {
            transform: scale(1);
        }

        .ls-btn {
            &,
            &:hover {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}