.see-product-img {
    width: 200px;
    height: 200px;
    margin: 40px 0 0 -40px;
    transition: transform 1s ease;

    @include bp('tab') {
        width: 250px;
        height: 270px;
        margin: 30px 0 0 -20px;
    }

    @include bp('desktop') {
        width: 350px;
        height: 370px;
        margin: -20px 0 0 -20px;
    }

    @include bp('desktop-1200') {
        width: 400px;
        height: 420px;
        margin: -60px 0 0 -80px;
    }

    @include bp('desktop-lg') {
        width: 480px;
        height: 490px;
        margin: -40px 0 0 -120px;
    }
}