section.section.section--news.news
    .container.container--1350
        .row.m-0
            .col-12
              h1.news__title News
        .row-m-0
          .media
            img.mr-3.mr-md-5.mb-3.mb-md-0(src='./assets/images/news/news-img.png', alt='News image')
            .media-body
              h5.news__heading.mb-3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt .
              p.news__desc.mb-2.mb-md-3
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad    minim veniam,Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              p.news__date
                | 1 December
          .media
            img.mr-3.mr-md-5.mb-3.mb-md-0(src='./assets/images/news/news-img.png', alt='News image')
            .media-body
              h5.news__heading.mb-3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt .
              p.news__desc.mb-2.mb-md-3
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad    minim veniam,Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              p.news__date
                | 1 December
          .media
            img.mr-3.mr-md-5.mb-3.mb-md-0(src='./assets/images/news/news-img.png', alt='News image')
            .media-body
              h5.news__heading.mb-3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt .
              p.news__desc.mb-2.mb-md-3
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad    minim veniam,Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              p.news__date
                | 1 December
          .media
            img.mr-3.mr-md-5.mb-3.mb-md-0(src='./assets/images/news/news-img.png', alt='News image')
            .media-body
              h5.news__heading.mb-3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt .
              p.news__desc.mb-2.mb-md-3
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad    minim veniam,Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              p.news__date
                | 1 December
          .media
            img.mr-3.mr-md-5.mb-3.mb-md-0(src='./assets/images/news/news-img.png', alt='News image')
            .media-body
              h5.news__heading.mb-3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt .
              p.news__desc.mb-2.mb-md-3
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad    minim veniam,Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              p.news__date
                | 1 December
          .media
            img.mr-3.mr-md-5.mb-3.mb-md-0(src='./assets/images/news/news-img.png', alt='News image')
            .media-body
              h5.news__heading.mb-3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt .
              p.news__desc.mb-2.mb-md-3
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad    minim veniam,Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              p.news__date
                | 1 December
